a{ transition: all 0.5s ease ; color: #aaa;text-decoration: none !important; }
a:hover{color: #000;}f
#user-login{font-family: 'TradeGothicLTStd-Cn18';}
.pager-current{color: #000;font-size: 15px}
.pager-item a,.pager-next a,.pager-previous a{ border: none !important; border-radius: 0px !important;    padding: 5px 0px !important; }
.pager-last.last,.pager-first.first{display: none;}
.top-head{ background: #000;padding: 10px 0px; }
.top-head .social-left{ float: right; }
.top-head .small-title{ float: left; font-family: TradeGothicLTStd-Cn18; text-transform: uppercase; font-size: 12px; }
.img-mask{ opacity: 0; transition: all 0.5s ease; width: 100%; height: 100%; position: absolute; background: #0000006b; box-shadow: 0 0 9px #00000054;}
.img-mask:hover{ opacity: 1; }
.img-mask-light{ opacity: 0; transition: all 0.5s ease; width: 100%; height: 100%; position: absolute; background: rgba(255, 255, 255, 0.22); box-shadow: 0 0 9px #00000054;}
.img-mask-light:hover{ opacity: 1; }
.top-head .social-left li{ display: inline-block; }
.top-nav{font-size: 13px; color: #fff; }
.description p{ font-family: 'TradeGothicLTStd-Cn18'; font-size: 20px; line-height: 25px; }
#block-block-1 .links.inline{ float: left; }
.read-more ,.read-more a{ font-family: 'TradeGothicLTStd-Cn18'; color: #000; }
.nav-left a{ margin-right: 50px; }
.img-wrap{position: relative;}
/*#block-block-1 .links li a{ color: #000; font-size: 14px; font-weight: bold; }
#block-block-1 .links li a:hover{ text-decoration: none; }
#block-block-1 .drop-down { background: url('../images/drop-down.png') no-repeat 70px 4px; background: url(../images/drop-down.png) no-repeat 77px 4px; padding: 0px; width: 100px; padding-right: 25px; }
#block-block-1 .links li{ margin-right: 30px; }*/
#block-block-1 .btn-action{ padding-top: 15px; }
#block-block-1 .btn-action .btn-black,#block-block-1 .btn-action .btn-yellow{ display: inline-block; }
#block-block-1 .btn-action .btn-black a{ background: #000; border-radius: 0px; color: #fff; font-size: 11px; }
#block-block-1 .btn-action .btn-black a:hover{ text-decoration: none; color: #000; background: transparent; border: 1px solid #000; transition: all 0.5s ease; }
#block-block-1 .btn-action .btn-yellow a{ background: #fef300; border-radius: 0px; color: #000; font-size: 11px; }
#block-block-1 .btn-action .btn-yellow a:hover{ text-decoration: none; color: #000; background: transparent; border: 1px solid #000; transition: all 0.5s ease; }
.header{ background: #dbb516; position: relative; padding: 10px 0px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.12); margin-bottom: 25px; width: 100%; z-index: 20; }
.header .nav-left{ position: absolute; top: -7px; }
.header .nav-left .header__logo{ display: inline-block; position: relative; }
.header .nav-left a img{ width: 90px; position: absolute; top: -45px; }
.header .nav-middle{ margin-top: 85px; }
.header .sub-menu{ min-height: 150px; }
.header .sub-menu ul{ padding: 0; float: none;}
.header .sub-menu ul li{ margin: 0; min-width: 175px; }
.header .sub-menu ul li .grid{ width: 1145px; max-width: 100%; margin: 0 auto; }
.header .sub-menu-item ul li{ display: block; margin: 0; width: 100%;}

.region-site-name{
  	margin-left: 85px;
  	margin-top: 15px;
}
.region-site-name .sub-sitename{
    font-family: 'TradeGothicLTStd-Cn18';
    font-size: 13px;
    text-transform: uppercase;
    color: #000;
    line-height: normal;
    margin-bottom: 5px;
}
.region-site-name .sitename{
    font-family: 'TradeGothicLTStd-Cn18';
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
    line-height: 28px;
}

.section-conditions{background: #eee;padding: 50px 0px  !important;}

ol > li{font-family: 'TradeGothicLTStd-Cn18';}
ol {padding: 0 0 0 15px}
.section-festival .list  .small-desc{padding: 5px 0px;}
.img-left-desc.no-padding{padding-top: 0px !important;}
.list .description i{margin-right: 20px;color: #666666;float: left;margin-top: 6px;font-size: 14px;}
.list .small-desc div{margin-right: 20px;color: #666666;float: left;margin-top: 4px;}
.list .description p{padding-left: 30px;}
.list .small-desc p{padding-left: 30px;}
.section-assistance .small-desc{max-width: 810px;}
.primary-navigation > ul > li{display: inline-block; margin-right: 25px;}
.primary-navigation ul > li{ display: inline-block; float: left; margin-right: 0; margin-left: 25px;}
.primary-navigation ul > li:hover .sub-menu{ display: block; }
.primary-navigation ul{ float: right; }
.primary-navigation .sub-title{ font-size: 16px; }
.primary-navigation a.sub-title{ color: #000; }
.primary-navigation a.sub-title:hover { color: #666666; }
.primary-navigation a {color: #000; font-family: 'aileronbold';font-size: 14px; text-transform: uppercase; }
.primary-navigation .menu-item{ color: #000; font-family: TradeGothicLTStd-Cn18 !important;transition: all 0.5s ease;}
.primary-navigation .menu-item:hover{ color: #666666; }
.primary-navigation .menu-item-sub.menu-item{ padding-left: 15px; }


.movies-inner-page,.section-cast{font-family: 'TradeGothicLTStd-Cn18';}
.cast-character{color: #5a5a5a}
.small-desc.list-disc.amb-list{margin-left: 15px;}
/*.list-left p{padding-left: 30px;}*/

.section-assistance{padding-bottom: 25px !important;}
.cast-item{margin-bottom: 30px;}

.movie-title small{font-family: aileronbold; text-transform: uppercase; font-size: 16px; color: #a7a2a2;}
.movie-title p{margin: 0;}
.movie-title .med-title{font-family: aileronbold;font-size: 36px;}
.movie-title{border-bottom: 1px solid #eee; margin-bottom: 40px;}
.section-requirements{padding: 60px 0px !important;}
.center-text p{width: 100%; margin: 0 auto; text-align: center;max-width: 635px;}
.center-text{padding: 20px 0px;}
.movies-inner-page .movie-desc .small-desc strong{margin-right: 50px;}
.movies-inner-page .with-padding strong{margin-right: 70px !important;}
.movies-inner-page .short-desc{padding: 10px 0px 20px 0px;}
#block-mailchimp-signup-subscribe{padding-left: 20px;}
#block-mailchimp-signup-subscribe .form-item{margin: 0;}
.movie-title a{color: #000;text-decoration: none;margin-right: 10px;}
.insta-desc{text-align: left; margin-left: 30px;}
.section-requirements{background: #eeeeee}
#instafeed{font-family: 'TradeGothicLTStd-Cn18';text-align: center; overflow-y: scroll;}
.insta-head{margin: 10px; border-bottom: 1px solid #eee;text-align: left;}
.insta-desc{ font-size: 1.2em; font-weight: bold;}
/*.instagram{width: 300px}*/
.insta-feed img{width: 230px;}
.insta-feed{padding: 15px 0px;}
#fdcp-insta{color: #3b94d9}
.insta-likes{text-align: left; margin-left: 30px; padding: 10px 0px; border-bottom: 1px solid #eee;}
.footer{ display: flex; align-items: center; justify-content: center; }

.movie-photos li{padding-bottom: 30px;}
.happenings br{display: none;}
.video-clip-slider .fa{color:#000;font-size: 30px;}
.video-clip-slider .owl-prev{opacity: 1 !important ;background: transparent !important;position: absolute; left: -30px; top: 50px;}
.video-clip-slider .owl-next{opacity: 1 !important ;background: transparent !important;position: absolute; right: -30px; top: 50px;}
.video-clip-slider iframe{max-width: 260px;max-height: 200px;}

.top-nav .social-left li{ margin-left: 15px; }

/*.footer.footer1{ margin-right: 55px; }*/
.nav-left a img{ width: 100%; max-width: 125px; }
.list-disc li{list-style-type: disc;}
.festival .section-thumbnails .actions{text-align: center; padding: 55px 0px;}
.footer3 ul{ padding-left: 15px; }

.top-nav .social-left li a img{ width: 20px; }

.about-section1{padding: 80px;}

.about-section1 .fdcp-img img{ width: 100%; max-width: 390px; }

.about-section1 .description{ width: 100%;
    margin: 0 auto;
    max-width: 470px; }

.med-title{ font-family: aileronbold; text-transform: uppercase; }

.cast-item ul li{display: inline-block;margin-right: 15px;}

.about-section2 .description{font-family: 'TradeGothicLTStd-Cn18'; font-size: 20px; line-height: 12px; padding-top: 25px; max-width: 380px; width: 100%; margin: 0 auto;}

.cast-name{font-weight: bold;}

.about.about-section3{ background: #eeeeee; padding-top: 100px; }



.about-section3 .description{ font-family: 'TradeGothicLTStd-Cn18'; font-size: 19px; line-height: 12px; font-style: italic; padding-top: 60px; }

.writer-desc{ padding-top: 20px; }

.writer-desc p{ font-family: 'TradeGothicLTStd-Cn18'; font-size: 17px; }

 .writer-desc h2{
 	font-family: 'TradeGothicLTStd-Cn18';
    font-size: 21px;
    font-weight: bold;
 }

 .about-section2{
 	text-align: center;
 	background: #eee;
 	padding: 110px 0px;
 }

 .about-section3 .med-img{
 	text-align: center;
 }

 .about-section4{
 	padding: 45px 0px;
 	text-align: center;
 }

 .about-section4 .med-title{
 	padding-bottom: 25px;
 }
.section-winners .actions{text-align: center;    padding-top: 50px;}
.section-winners .actions .btn-md-black,.section-winners .actions .btn-md-yellow{display: inline-block; padding-right: 50px;}
.section-winners{padding: 40px 0px 0px 0px;}

.small-desc strong 

.program{
	padding-top: 75px;
}

.prog-section1{
	text-align: center;
}


.info-pane .small-desc{
	text-align: left;
	padding: 35px 0px;
}

.reg-title h2{
	font-family: aileronbold;
    font-size: 20px;
}

.col-2-img img{
	max-height: 310px;
    width: 100%;
}

.movie-slider .item-list > ul{
	list-style-type: none;
	padding-left: 0px;
}



.movie-slider .mv-slider-desc{
	text-align: center;
}

.movie-slider .mv-slider-desc .reg-title h3 a{
	color: #000;
	font-size: 22.2px;
    font-family: 'TradeGothicLTStd-Cn18';
    text-align: center;
}

.movie-slider .mv-slider-desc .reg-title h3 a:hover{
	text-decoration: none;
}

.mv-duration{
	font-family: 'TradeGothicLTStd-Cn18';
	color: #3d3e3f;
}


.page-cinelokal{
	padding-top: 75px;
}

.page-cinematheque{
	/*padding-top: 75px;*/
}

.cinelokal-bottom{
	padding: 55px 0px;
}

.cinelokal-bottom .description {
	padding-top: 40px;
}

.cinelokal-bottom .description p{
	font-family: 'TradeGothicLTStd-Cn18';
	font-size: 20px;
}

.cinelokal-bottom .img-wrap{
	text-align: center;
}

.cinelokal-bottom .img-wrap img{
	padding-left: 50px;
}

.cinelokal-social{
	text-align: center;
	padding-top: 75px;
}

.cinelokal-social >ul{
	list-style-type: none;
}

.cinelokal-social > ul > li{
	display: inline-block;
	margin: 0px 30px;
}

.right-desc .med-title a:hover{
	text-decoration: none;
}

.right-desc .med-title a{
	color: #000;
}

.trailer-slider{
	list-style-type: none;
}

.columns-2-video .small-desc p{
	font-family: 'TradeGothicLTStd-Cn18';
	line-height: 20px;
	padding-top: 20px;
}

.columns-2-video .right-desc{
	padding-left: 20px;
	padding-top: 50px;
}

.trailer-section{
	background: #eee;
	padding: 30px 0px;
}

.cinematheque-bottom .description{
	font-family: 'TradeGothicLTStd-Cn18';
    font-size: 20px;
    padding-top: 35px;
    padding-left: 70px;
    line-height: 12px;
}

.cinematheque-bottom .img-wrap{
	text-align: center;
}

.cinematheque-bottom{
	padding: 50px 0px;
}

.cinematheque-map .map-container{
	text-align: center;
	position: relative;
}

.map-wrap iframe{width: 100%;}

.cinematheque-map .map-desc{
	position: absolute;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.81);
    width: 100%;
    max-width: 788px;
    padding: 12px 0px;
    padding-bottom: 0px;
}

.cinematheque-map .map-desc p{
	color: #fff;
	font-family: 'TradeGothicLTStd-Cn18';
}

.cinematheque-map .map-desc .map-contact{
	list-style-type: none;
}

.cinematheque-map .map-desc .map-contact li{
	display: inline-block;
	list-style-type: none;
	padding: 0px 40px;	
	padding-top: 10px;
}
.cinematheque-map .map-desc .map-contact a {color: #fff}
.cinematheque-map .map-desc .map-contact a:hover {color: #fff}

.cinematheque-map .map-thumbnails > ul{
	list-style-type: none;
}

.cinematheque-map .map-thumbnails > ul li{width: 100%;cursor: pointer;}


.cinematheque-map{
	position: relative;
	
	/*max-width: 788px;*/
    margin: 0 auto;
}

.cinematheque-map .map-thumbnails{
	/*position: absolute;*/
}

.cinematheque-map .med-title{text-align: left;}

.cinematheque-map .map-thumbnails .place-img{
	padding-left: 0px;
	margin: 0;
}



.in-theatres .med-title{
	float: left;
}

.menu-right{
	float: right;
}

.menu-right a{
	font-size: 20px;
	color: #000;
}
.menu-right a:hover{
	text-decoration: none;
}

.movie-list{
	list-style-type: none;
	padding-left: 0px;
}

.movie-list > li:last-child{
	border-bottom: 1px solid #aaaaaa69;
	padding-bottom: 20px;
}

.movie-list > li{
    border-top: solid 1px #aaaaaa69;
    padding: 20px 0px 20px 0px;
}

.movie-list br{
	display: none;
}


.in-theatres .mv-info .reg-title a{
	font-family: 'TradeGothicLTStd-Cn18';
	font-size: 22.24px;
	color: #000;
	text-decoration: none; 
}

.in-theatres .mv-info{
	font-family: 'TradeGothicLTStd-Cn18';
    position: relative;
}

.in-theatres .mv-info .description {
	padding-bottom: 20px;
}


.in-theatres hr{
	border-top: 1px solid #000;
}


.reg-title a{
	font-family: aileronbold;
	color: #000;
	font-size: 22px;
}

.reg-title a:hover{
	color: #000;
	text-decoration: none;
}

.coming-soon .med-title{
	float: left;
}

.coming-soon .med-title .heading-date{
	font-family: 'TradeGothicLTStd-Cn18';
	font-size: 22.2px;
}

.show{
	background: #000000a1;
}

.car-desc{opacity: 0; position: absolute; bottom: 96px; transition: all 1s ease-out; padding: 0px 20px;font-family: 'TradeGothicLTStd-Cn18'; color: #fff;}

.car-desc p{
	line-height: 20px;
	color: #fff;
}

.ease-top{
	top: 60px !important;
}

.car-desc-opacity{
	opacity: 1;
}

.field-name-field-banner{
	text-align: center;
}

a,a:focus{
	text-decoration: none;
}

.post-grid{
	padding: 50px 0px;
    padding-left: 100px;
}

.open-positions .med-title{
	text-align: center;
}


.reg-title.reg-title-bottom h2{
	text-align: center;
	font-family: 'TradeGothicLTStd-Cn18';
	font-size: 20px;
}
.reg-title.reg-title-bottom h2 a {
	font-family: 'TradeGothicLTStd-Cn18';
	font-size: 20px;
}


.post-req.small-desc{
	position: relative;
}

.post-req li{font-family: 'TradeGothicLTStd-Cn18';}

.post-req.small-desc > ul{
	padding-left: 15px;

}

.yellow-line{
	position: absolute;
    background: #fef200;
    height: 140px;
    width: 4px;
    top: -37px;
    left: -20px;
}

.star-rating{
	display: inline-block;
}

.movie-thumbnail{
	position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    display: block;
    padding: 0px 10px;
}

.movie-thumbnail img{
	width: 100%;
	height: auto;
}
.movie-thumbnail br{display: none;}
.mv-duration{
	margin: 0;
}

.fivestar-static-item .form-item{
	margin: 0;
}

.columns-2-video iframe{
	height: 370px;
}

.coming-soon .view-content{
	padding-bottom: 30px;
}


.nav-middle #block-menu-menu-navigation > .menu > li{
	display: inline-block;
	padding: 10px 10px;
	position: relative;
}



.nav-middle #block-menu-menu-navigation > .menu > li > ul{
	display: none;
	position: absolute;
	background: #000;
	list-style-type: none;
	background: #fff;
	padding: 20px;
	width: 315px;
	top: 55px;
	box-shadow: 0 0 14px #00000040;
}



.menu a{
	color: #000;
	cursor: pointer;
}

.menu a:hover{
	color: #000;
	text-decoration: none;
}

.events .view-filters #edit-field-event-type-value-all{
	display: none;
}

.events .view-filters .form-item .form-type-bef-link{
	display: inline-block;
}

.events .view-filters #edit-field-event-type-value-wrapper{
	float: right;
	padding-top: 20px;
}

.events .heading{float: left;}

.events .view-filters .form-item .form-type-bef-link a{
	color: #ababab;
	text-decoration: none;
	font-size: 20px;
}

.events .view-filters .form-item .form-type-bef-link .active{
	color: #000;
}


.events .view-filters .form-item .form-type-bef-link a:hover{
	text-decoration: none;
	color: #000;
}

.event-slider{
	list-style-type: none;
	padding-left: 10px;
}

.breadcrumb {background-color: #fff;padding: 10px 0px; margin-bottom: 0px;}
.breadcrumb__item{font-family: 'TradeGothicLTStd-Cn18'; font-size: 18px;}
.events{padding-top: 40px;}
.breadcrumb a:visited{color: #aaa;}

.ajax-progress .throbber {
	background: #00000047;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}
.events .heading{padding-bottom: 15px;}


.workshops .item-list >ul{
	padding-left: 0px;
	list-style-type: none;
}

.workshop-info .description{
	padding-top: 20px;
}

.workshop-grid{
	padding: 15px 0px;
}

.workshops{
	padding-bottom: 50px;
}

.workshop-info{
	position: relative;
	height: 370px;
}

.workshop-grid .btn-md-yellow{
	position: absolute;
	bottom: 0px;
}


#block-menu-menu-navigation >ul{
	position: relative;
}

#block-menu-menu-navigation > ul > li > a{
	color: #535353;
	padding: 26px 0px;
	font-weight: bold;
}

.recent-stories .item-list >ul > li{
	/*padding: 5px 0px;*/
    border-bottom: solid 1px;
    /*padding-top: 0px;*/
}

.right-info{
	padding-top: 10px;
}


.thumbnails-md ul{
	list-style-type: none;
	padding-left: 0px;
}

.awards-landscape  ul{
	padding-left: 0px;
	list-style-type: none;
}

.thumbnails-md  ul > li {
	display: inline-block;
}


.awards-thumbnail  .img-wrap{
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	display: block;
}

.festival-desc{
	padding-top: 50px;
}

.awards-thumbnail  .img-wrap img{
	width: 100%;
	height: auto;
}

.blogs{padding-bottom: 55px;}

.blogs-thumbnail  .img-wrap{
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	display: block;
}

.blogs-thumbnail  .img-wrap img{
	width: 100%;
	height: auto;
}

.thumbnails-md .reg-title a{
	font-size: 20px;
}

.thumbnails-md .reg-title h2 {
	margin-bottom: 0;
}

.section-how-to-join{background: #eeeeee;padding: 25px 0px;}

.awards{
	padding-top: 30px;
}

.blogs .thumbnails-md{
	text-align: center;
}

.thumbnail-trailer iframe{
	width: 95%;
    height: 215px;
}

.thumbnail-trailer p {
	width: 100%;
    height: auto;
}

/*ul{
	padding-left: 0px;
	list-style-type: none;
	margin: 0;
}*/
.now-showing-slider .owl-item > li {margin-left: 2px; margin-right: 2px}
.now-showing-slider .field-content{
	text-align: center;
}

.med-date{
	font-family: 'TradeGothicLTStd-Cn18';
	color: #000;
    font-size: 18px;
}

.now-showing .cinelokal-logo{
	padding-top: 135px;
	text-align: center;
}

.spotlight-landscape{
	box-shadow: 0 0 14px #00000040;
	background: #fff;
}

.spotlight-desc .description{
	padding-right: 10px;
}

.spotlight-img img{
	width: 100%;
	height: auto;
}

.spotlight-img{
	position: relative;
	display: block;
	width: 100%;
	overflow: hidden;
	height: 256px;
}

.owl-item .spotlight-img{
	position: relative;
	display: block;
	width: 100%;
	overflow: hidden;
	height: auto;
	max-width: 168px;
}

.spotlight-desc{
	padding: 10px; padding-left: 5px;
}

.spotlight-desc .mv-duration{
	padding-bottom: 15px;
}
.in-spotlight{
	background: #eee;
}


.festival-thumbnail .img-wrap{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
	filter: grayscale(100%);
	transition: all 0.5s ease;
	max-width: 200px; 
	margin: 0 auto;
}

.festival-thumbnail .img-wrap:hover{
	filter: unset;
}


.festival-thumbnail .img-wrap img{
	width: 100%;
	height: auto;
	
}

.guidelines-grid .grid{
	padding: 20px 0px;
}

.guidelines{
	text-align: center;
}

.condition-list{padding: 20px 0px;}
.section-list{padding-left: 50px;}
.conditions{background: #eee;}
.is-expanded.menu__item, .menu__item.is-expanded,.menu__item,.is-collapsed.menu__item, .menu__item.is-collapsed{
	list-style-image: none;
	list-style-type: none;
	padding: 2px 0px;
}

[title~="sub-title"]{font-weight: bold;}
[title~="sub-title"]:hover{border-bottom: 1px solid #00000057;}


[title~="menu-title"]{
	color: #cacaca !important;
    font-size: 0.9em !important;
}
[title~="menu-title"]:hover{border-bottom: 1px solid #00000057;}

.show-sub{
	width: 170px;
	display: block !important;
	position: absolute;
	padding-left: 0px;
}

.guidelines-grid .img-wrap{ padding: 5px;  }

.guidelines-desc{
	text-align: left;
}
.guidelines-desc .small-desc{padding-top: 15px;}
.section-categories{text-align: center;padding: 30px 0px;}
.section-categories .med-title{text-align: left;}
.categories-left , .categories-right{
	width: 80%;
    margin: 0 auto;
}
.categories-left:-child(){
	display: none;
}

.mv-img{
	position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.mv-img img{
	height: auto;
	width: 100%;
}

.workshop-img img{
	width: 100%;
	height: auto; 
}
.workshop-img{
	position: relative;
    width: 100%;
    overflow: hidden;
    display: block;
    height: auto;
}

.stories-main .img-wrap{
	width: 100%;
    position: relative;
    overflow: hidden;
    display: block;
}

.stories-main .img-wrap img{
	height: auto;
	width: 100%;
}

.stories-main {box-shadow: 0 4px 7px 2.3px #00000033;}
.stories-main .reg-title a{ font-size: 18px; font-family: 'TradeGothicLTStd-Cn18'; }
.stories-main .info-wrap{ padding: 30px; padding-top: 0px; padding-bottom: 15px; }
.stories-main .read-more{ text-align: center; margin-top: 10px; }
.stories-main .read-more a{ font-family: 'TradeGothicLTStd-Cn18'; color: #000; }

.stories-right .left-img{width: 100%; position: relative; overflow: hidden;height: auto;display: block;}

.info-pane {padding-top: 30px;}


.main-content{padding-top: 130px;}

.sidebar-nav{
	padding: 25px 0px;
	border-right: 1px solid #d1d0d0;
	height: 233vh;
}

.sidebar-nav a{
	font-family: 'TradeGothicLTStd-Cn18';
	color: #aaa;
	font-size: 17.2px;
}

.sidebar-nav a.active{
	color: #000;
}


.small-desc.info p{
	line-height: 14px;
}

.page-node-19 .mv-duration{padding-bottom: 15px;}

.ctools-auto-submit-full-form label{font-family: 'TradeGothicLTStd-Cn18' ;font-size:17.2px; color: #aaa;}
.event-slider .img-wrap{ display: block; position: relative; width: 100%; height: auto; }

.event-slider .img-wrap img{ width: 100%; height: auto; }
.event-slider li:hover .img-mask{opacity: 1;}
.event-slider .owl-item{padding: 10px;}

.card-view { border-radius: 10px; transition: all 1s ease; cursor: pointer; margin-bottom: 20px; background: #eee;  }
.card-view img{ width: 100%;transition: all 0.5s ease; border-top-left-radius: 10px; border-top-right-radius: 10px;} 
.card-view a{ text-decoration: none;color: #000; } 
.card-view .card-desc{ min-height: 215px; padding: 20px;}
.card-view .card-desc .reg-title a{ font-size: 18px; font-family: aileronbold;}
.card-view .card-desc .small-desc{ min-height: 45px; } 
.card-view .card-desc .tiny-text{padding: 10px 0px;} 
.card-view:hover img{filter: brightness(60%);transition: all 0.5s ease;}
.card-view:hover .reg-title a{color: #dbb516;}

.ui-accordion .ui-accordion-icons { background: #000; border: 0; }
.ui-accordion .ui-accordion-icons a { color: #fff; font-family: aileronbold;}
.ui-accordion .ui-accordion-content {height: auto !important; font-family: TradeGothicLTStd-Cn18; line-height: 22px; padding: 0}
.ui-accordion .ui-accordion-content p {margin: 20px;}
.ui-accordion .ui-accordion-content li {margin-bottom: 10px;}
.ui-accordion .ui-accordion-content .decimal { list-style-type: decimal; padding-left: 15px; }
.ui-accordion .ui-accordion-content .decimal a { font-weight: bold; font-style: italic; }
.ui-accordion .ui-accordion-content .decimal p { margin-bottom: 5px; }
.ui-accordion .ui-accordion-content .decimal ul { margin: 5px 0; }
.ui-accordion .ui-accordion-content .decimal ul li { margin-bottom: 5px; }
.ui-accordion .ui-accordion-content .decimal ul.numeric {padding-left: 25px;}
.ui-accordion .ui-accordion-content .decimal ul.small-alpha {padding-left: 25px;}
.ui-accordion .ui-accordion-content .decimal ul.disc {padding-left: 25px;}
.ui-accordion .ui-accordion-content .decimal ul.circle {padding-left: 25px;}
.ui-accordion .ui-accordion-content .decimal ul.indented {padding-left: 25px;}
.ui-accordion .ui-accordion-content > ul {padding-left: 40px;}


[for~="edit-field-category-value"],[for~="edit-field-movie-rating-value"],[for~="edit-field-date-released-value"]{
	color: #000 !important;
	font-size: 19.2px !important;
}


/*#block-views-exp-movies-block-18 .option,#block-views-exp-movies-block-6 .option,#block-views-exp-movies-block-3 .option,#block-views-exp-movies-block-5 .option{
    position: absolute;
    width: 160px;
    padding-left: 30px;
}*/
#block-views-exp-media-block-2 .views-widget-filter-field_event_type_value {display: none;}
#block-views-exp-movies-block-6 input[type=checkbox]:checked + .option,#block-views-exp-movies-block-5 input[type=checkbox]:checked + .option,#block-views-exp-movies-block-3 input[type=checkbox]:checked + .option{
	background: url(/fdcp-revamp/sites/all/themes/fdcp/images/check.png) no-repeat 5px 5px;
	color: #000;
}

/*#block-views-exp-movies-block-18 input[type=radio]:checked + .option,#block-views-exp-movies-block-6 input[type=radio]:checked + .option,#block-views-exp-movies-block-5 input[type=radio]:checked + .option,#block-views-exp-movies-block-3 input[type=radio]:checked + .option{
	background: url(/fdcp-revamp/sites/all/themes/fdcp/images/check.png) no-repeat 5px 5px;
	color: #000;
}*/

.program .reg-title h2{margin: 0 auto;}




#block-views-exp-movies-block-18 input[type=checkbox],#block-views-exp-movies-block-18 input[type=radio],#block-views-exp-movies-block-5 input[type=checkbox],#block-views-exp-movies-block-5 input[type=radio],#block-views-exp-movies-block-6 input[type=checkbox],#block-views-exp-movies-block-6 input[type=radio],#block-views-exp-movies-block-3 input[type=checkbox],#block-views-exp-movies-block-3 input[type=radio]{
	visibility: hidden;
	display: none;
}

#block-views-exp-movies-block-18 [for~=edit-field-movie-value-all],#block-views-exp-movies-block-18 [for~=edit-field-category-value-all],#block-views-exp-movies-block-18 #edit-field-category-value-all,#block-views-exp-movies-block-5 [for~=edit-field-category-value-all],#block-views-exp-movies-block-5 #edit-field-category-value-all,#block-views-exp-movies-block-3 [for~=edit-field-category-value-all],#block-views-exp-movies-block-3 #edit-field-category-value-all,#block-views-exp-movies-block-5 [for~=edit-field-movie-rating-value-all],#block-views-exp-movies-block-5 #edit-field-movie-rating-value-all,#block-views-exp-movies-block-18 #edit-field-movie-rating-value-all,#block-views-exp-movies-block-6 [for~=edit-field-movie-rating-value-all],#block-views-exp-movies-block-6 #edit-field-movie-rating-value-all,#block-views-exp-movies-block-3 [for~=edit-field-movie-rating-value-all],#block-views-exp-movies-block-18 [for~=edit-field-movie-rating-value-all],#block-views-exp-movies-block-3 #edit-field-movie-rating-value-all{
	display: none;
}

#block-views-exp-movies-block-18 [for~=edit-field-date-released-value-all],#block-views-exp-movies-block-5 [for~=edit-field-date-released-value-all],#block-views-exp-movies-block-5 #edit-field-date-released-value-all,#block-views-exp-movies-block-18 #edit-field-date-released-value-all,#block-views-exp-movies-block-6 [for~=edit-field-date-released-value-all],#block-views-exp-movies-block-6 #edit-field-date-released-value-all,#block-views-exp-movies-block-3 [for~=edit-field-date-released-value-all],#block-views-exp-movies-block-3 #edit-field-date-released-value-all{
	display: none;
}

.section-database .menu-right h2{ margin: 0 }

#block-views-exp-movies-page-1{display: inline-block;margin-left: 5px; margin-top: 5px;}
#block-block-1{
	display: inline-block;
	position: absolute;
    top: 40px;
    opacity: 1;
    transition: all 0.5s ease;
}

#block-views-exp-movies-page-1 input.form-text:focus{outline: none;}
#block-views-exp-movies-page-1 input.form-text{   
	background: url(../images/search.png) no-repeat 0px 5px;
	width: 90px;
	padding-left: 25px;
	border: 0px;
    border-bottom: 1px solid;
    transition: all 0.5s ease;
    text-transform: none !important;
    font-family: 'TradeGothicLTStd-Cn18';
}

#block-views-exp-movies-page-1 .views-submit-button{
	position: relative;
	width: 20px;
}
#block-views-exp-movies-page-1 input.form-submit{
    position: absolute;
    background: transparent;
    border: 0px;
    bottom: -24px;
    right: 35px;
    opacity: 0;
}    

#views-exposed-form-movies-page-1:focus-within{

}

.page-database-search-results.page-database{
	padding: 0px !important;
}

.small-grid{text-align: center; padding: 30px;}
.small-grid .img-wrap{
	display: block;
	position: relative;
	width: 100%;
	height: 205px;
	overflow: hidden;
	box-shadow: 0 0 3px #0000007d;
	cursor: pointer;
}

.small-grid .img-wrap img{
	width: 100%;
	height: auto;
}

#edit-actions--2{display: inline-block;}
#edit-mergevars-email{background: transparent; border: 1px solid #fff;color: #fff;font-family: 'TradeGothicLTStd-Cn18';font-style: italic;font-size: 1.2em;height: 36px; padding: 0px 10px;}
#edit-submit--2{
	font-size: 18px;
    cursor: pointer;
    background: #dbb516;
    color: #000;
    text-align: center;
    padding: 5px 30px;
    text-transform: uppercase;
    border: 1px solid #dbb516;
    font-family: aileronbold; text-transform: uppercase;
    font-weight: bold;
}
#edit-submit--2:hover{
	text-decoration: none;
	color: #dbb516;
	background: transparent;
	border: 1px solid #fef300;
	transition: all 0.5s ease !important;
}



.box-office-top1{position: relative;}
.rank-1{position: absolute;left: -10px;z-index: 1;top: -13px;}
.rank-number p{
	font-weight: bold;
    font-size: 40px;
    font-family: aileronbold;
}

.box-office br{display: none;}

.box-office-list li{
	border-top: 1px solid #92919a;
	padding: 3.3px 0px;
	padding-left: 20px;
}



.rank-info h2{margin-bottom: 0px;}
.rank-number{padding-top: 10px;}
.box-office-list li:last-child{border-bottom: 1px solid #92919a;}

.box-office-top1 .img-wrap{position: relative;overflow: hidden;height: auto;}
.box-office-top1 .img-wrap img{width: 100%;height: auto;}

.peso{text-align: right; padding-top: 45px;}

.box-office .heading{padding-bottom: 20px;}
.box-office .heading .med-title{float: left;}

.cinematheque-map br{display: none;}

.social-media-buttons{padding: 20px 0px}
/*.social-media-buttons a {margin-right: 30px;}*/
.box-office .menu-right{margin-right: 75px;}

.else-where{position: relative;}
.else-where .med-title h2{font-size: 28px;}
.section-iffap{padding-bottom: 0px;}
.section-categories-of-iffap{padding-bottom: 0px;}
.social-media-buttons{text-align: center;}
.show-fb{float: left;}
.show-insta{float: right;}
.section-specialized .grid-offset{float: right;}
.festival-names{margin-top: 50px;    margin-left: 25px;}
.section-conditions li p,.section-festival li p{padding-left: 30px;}
.festival-names ul li {list-style-type: disc;font-family: 'TradeGothicLTStd-Cn18';}
.horizontal-grid{float: left;}
.horizontal-grid img{filter: grayscale(100%);transition: all 0.5s ease;cursor: pointer;}
.horizontal-grid img:hover{filter: unset;}
.horizontal-grid li{border: 1px solid #ccbfbf;    margin: 10px 5px;}
.horizontal-grid.grid-padding{padding-top: 20px;}
.section-offset-grid{padding-top: 0px;}
.festival-names ul{padding-left: 15px;}
.iffap-categories-list ul li{list-style-type: disc;font-family: 'TradeGothicLTStd-Cn18';}
.iffap-categories-list{padding: 15px 0px}
.bullet-list{padding-left: 25px;list-style-type: disc; margin-bottom: 15px;}
.section-offset-grid{padding-bottom: 0px;}
.event-list .date-right{display: inline-block;}
.event-list .date-left{display: inline-block; background: #7c7c7c; padding: 5px; width: 40px; height: 50px;}
.event-list .date-left .day{background: #fff;text-align: center; font-size: 11px; padding: 1px 0px;}
.event-list .date-left .day-date{text-align: center;}
.event-list .date-left .day-date span{ font-size: 20px;color: #fff}
.date-right .event-title{font-family: 'TradeGothicLTStd-Cn18'; color: #7c7c7c; font-size: 16.6px;line-height: 20px;margin-left:15px;}
.med-title h2{margin-top: 0px;}
.date-right .event-title > span{border-bottom: 1px solid #af9d9d;padding: 3px 0px;}
.date-right .event-title > p{margin-top: 7px;}
.section-specialized .reg-title{margin-bottom: 30px;}
.cinematheque-map .place-img li{position: relative; height: auto; overflow: hidden;}
.cinematheque-map .place-img li img{width: 100%; height: auto;}

.page-banner img {width: 100%;}
.page-banner-mobile {text-align: center; display: none;}
.page-banner-mobile > img {width: 100%}
.page-banner-mobile .btn-action .btn-md-yellow a {line-height: 20px !important}
.section-festival-info .left-img .img-wrap{position: relative;width: 100%;height: auto;}
.section-festival-info .left-img .img-wrap img{width: 100%;height: auto;}

.top-navigation .sub-menu{ position: absolute; top: 100px; background: #fff; padding: 15px;box-shadow:0px 6px 4px #00000021;display: none;z-index: 1}
.main-title{cursor: pointer;color: #000;}
.main-title a:visited{color: #000}

.sb-toggle-right.navbar-lefts{display: none; position: absolute; right: 0px; font-size: 25px; margin-right: 15px;margin-top: 5px;top: 30px;}
.sb-toggle-right.navbar-lefts .fa-times{display: none;}

/*.primary-navigation > ul > li:hover .sub-menu{transform: translateY(0px);opacity: 1}*/
.primary-navigation > ul > li:hover .sub-menu{display: block;}
.sb-active .sb-toggle-right.navbar-lefts .fa-times{display: block;}
.sb-active .sb-toggle-right.navbar-lefts .fa-bars{display: none;}

#block-menu-menu-sidebar-menu-navigation a{color: #fff;font-family: 'TradeGothicLTStd-Cn18';font-size: 14px;}
#block-menu-menu-sidebar-menu-navigation > ul{padding: 30px; font-family: ca; font-size: 1.5em;}
#block-menu-menu-sidebar-menu-navigation > ul > li > ul > li{margin-left: 30px;}

.place-name{text-align: center;}
.img-right,.desc-right{float: right;}
.nav-middle{margin-top: 15px;}
.bold{font-weight: bold;}
.main-title{font-weight: bold;padding-bottom: 15px;color: #000;}
.main-title img{margin-bottom: 8.5px;}
.sub-title{font-weight: bold;}
.sub-title a{color: #000}
.menu-item{font-family: 'TradeGothicLTStd-Cn18';line-height: 25px;cursor: pointer;}

.max-desc{max-width: 810px;}
/*.section-b .long,.section-a .long{padding-left: 99px;}*/
.img-left-desc{position: relative;padding: 20px 0px;}
.img-left-desc .yellow{background: #fef200; height: 55px; width: 4px; left: 70px; margin: 0px 20px;}
.img-left-desc .img-wrap{float: left;}
.img-left-desc .yellow{float: left;}
.img-left-desc .small-desc p{max-width: 860px;margin-bottom: 0px;}
.img-left-desc .desc{float: left;}
.img-left-desc .desc .small-desc{max-width: 430px;}

.prog-section3{background: #eeeeee;}

.section-movies .main-content{padding-top: 100px;}
.page-node-111 .section{padding-bottom: 0px;}

.item-list ul{ list-style: none; padding: 0; }

.social-content-wrap { max-width: 1000px; margin: auto; }
.social-content .med-title{text-align: center;}

.node-type-movies .main-container table td.title {width: 15%; vertical-align: top;}

.ppp-tease{position: relative;}
.ppp-tease a{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.ppp-tease img{filter: brightness(60%);transition: all 0.5s ease; width: 100%;}
.ppp-tease:hover img{filter: brightness(100%);}
.ppp-tease .fa{font-size: 120px; color: #fff; transition: all 0.5s ease; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); cursor: pointer;}
.ppp-tease:hover .fa{color: #f8fb50ad;}


.section-contact .description{ text-align: center; }
.section-contact .description ul {padding-left: 0}
.section-contact li{display: inline-block;margin: 0px 40px;color: #000;}
.section-contact li a{ color: #000 }
.section-contact li i{display: inline-block;margin-right: 10px; color: #fff; background: #000; border-radius: 100%; width: 35px; height: 35px; padding-top: 9px;text-align: center;}
.section-contact li .field{display: inline-block;}


/*Mobile Menu*/
.sb-slidebar{background: #000}
.mobile-menu{padding: 30px 20px;}
.mobile-menu .menu-item{font-size: 20px; color: #fff; padding: 5px 0px;font-family: 'HelveticaNeue-MediumCond'}
.mobile-menu .menu-item a{font-size: 20px; color: #fff;}
.mobile-menu .sub-menu{margin-left: 30px;}
.mobile-menu .sub-menu a{font-size: 18px;}
.mobile-menu .sub-menu li{list-style-type: disc;}


/*Footer*/
#edit-mergevars-email{font-size: 18px;}
.footer{ font-size: 0; }
.footer > .block{display: inline-block;}
.footer ul{ padding: 0 0 0 30px; margin: 0; }
.footer ul.social-left li{ display: inline-block; margin: 0 3px; }
.footer ul.social-left li a{ background: #fff; border-radius: 50%; width: 22px; height: 22px; display: flex; color: #000; align-items: center; justify-content: center; padding-left: 3px; font-size: 13px; }
.footer1 img{ width: 100%; max-width: 175px; }
.footer2 li{ display: inline-block; margin-right: 7px; padding-right: 7px; border-right: 1px solid #fff; }
.footer2 li:last-child{ border: 0; padding: 0; margin: 0; }
.footer2 li a{ color: #fff; line-height: normal; font-size: 14px; }
.footer2 li a:hover{ color: #fef300; text-decoration: none; }
.footer-bottom{ background: #dbb516; }
.footer-bottom .copyright{ padding: 20px; text-align: center; }
.footer-bottom p{ margin: 0; font-family: 'TradeGothicLTStd-Cn18'; text-transform: uppercase;font-size: 20px; color: #000; }
.footer-wrapper{ background: #000; padding: 40px 0px; }

/* footer newsletter */
#mailchimp-newsletter-5c839a5c83-mergefields{ width: 250px; }
#mailchimp-newsletter-5c839a5c83-mergefields input{ width: 100%; }
#block-mailchimp-signup-subscribe .form-actions{ display: inline-block;float: right; }
#block-mailchimp-signup-subscribe .form-actions input{ font-size: 17px; margin-left: 1px; cursor: pointer; background: #dbb516; color: #000; text-align: center; padding: 5px 30px; text-transform: uppercase; border: 1px solid #dbb516; font-family: 'TradeGothicLTStd-Cn18'; transition: all 0.5s ease; }
#block-mailchimp-signup-subscribe .form-actions input:hover{ text-decoration: none; color: #dbb516; background: transparent; border: 1px solid #dbb516; }
#block-mailchimp-signup-subscribe .block__title{display: none;}
#block-mailchimp-signup-subscribe [for~=edit-mergevars-email]{display: none;}
#block-mailchimp-signup-subscribe p{display: none;}
#block-mailchimp-signup-subscribe .mailchimp-newsletter-mergefields{display: inline-block;}

@media only screen and (max-width: 1199px){
	.social-media-buttons a{margin-right: 10px;}
	.vid-wrap iframe{width: 100%;}
}

/*Mobile View*/
@media only screen and (max-width: 992px){
	.sb-toggle-right.navbar-lefts{display: block;}
	#block-block-3{text-align: center;}
	.footer .footer1, .footer .footer2, .footer .footer3, .footer .footer4{ padding: 15px 0; text-align: center; }
	.primary-navigation{display: none;}
	.event-slider .img-wrap{padding: 0px !important;max-width: 230px; margin: 0 auto;}
	.section-winners .actions .btn-md-black{padding: 10px 0px;}
	.top-head,#block-menu-menu-navigation,#block-views-exp-movies-page-1,#block-block-1{display: none;}
	.career-grid .img-wrap{height: 260px;}
	.ease-top{top: 190px !important;}
	.header{ margin: 0; }
	.nav-right{position: relative;}
	.collapse-nav{display: block;position: absolute; right: 0px; top: 5px; font-size: 30px;cursor: pointer;}

	.main-content { padding-top: 75px; }
	.page-banner{display: none;}
	.page-banner-mobile{display: block;}
	.spotlight-landscape .spotlight-img{height: 313px; max-width: 230px;}
	.spotlight-thumnails{padding-top: 30px;}
	.owl-item .spotlight-img{height: auto;max-width: 100%; padding: 0px 10px;}
	.map-desc{padding: 0px 20px;max-width: 235px;}
	.map-desc .address{width: 100%;}
	.box-office-list li{padding: 10px 10px;}
	.in-theatres .mv-img{max-width: 250px; margin: 0 auto;}
	.in-theatres .mv-info{text-align: center;}
	.coming-soon .mv-img{max-width: 250px; margin: 0 auto;}
	.coming-soon .mv-info{text-align: center;}
	.section-restored .mv-img{max-width: 250px; margin: 0 auto;}
	.section-restored .mv-info{text-align: center;}
	.sidebar-nav{height: auto;}
	.section-winners .actions .btn-md-yellow{padding: 0px;}
	.section-festival-info .left-img .img-wrap{max-width: 450px;margin: 0 auto;}
	.festival-desc{text-align: center;padding: 0px;}
	.program .info-pane{padding: 10px;}

	.event-list .date-right {min-width: 230px}

	.social-content-wrap .social-content {text-align: center;}
	.social-content-wrap .social-content-fb {margin-bottom: 40px;}
	
	.sidebar-nav{display: none;}
	.about-section1 .description{padding-left: 0px;text-align: center;}
	.about.about-section2 .med-img{text-align: center;}
	.about.about-section1 .fdcp-img{text-align: center;}
	.about{padding-top: 30px;}
	.about-section2 .description{padding-top: 0px;}
	.event-slides .img-wrap
	.conditions .section-list{text-align: center;padding: 10px;}
	.about-section2{padding-bottom: 0px;}
	.about-section4 .values{padding: 10px 0px;}
	.thumbnails-md{padding-top: 0px;}
	.page-cinematheque{padding-top: 0px;}
	.cinematheque-map .map-desc{position: absolute;}
	.vid-wrap iframe{max-width: 480px;}
	.vid-wrap{text-align: center;}
	.cinematheque-bottom .description{padding-top: 0px; padding-left: 0px; text-align: center;padding: 10px;}
	.footer-wrapper{padding: 30px 0px;}
	.program{padding: 10px;}
	.footer2 a{font-size: 12px;}
	.columns-2-video .right-desc{padding: 0px;}
	.cinematheque-map{padding-bottom: 30px;}
	.cinematheque-bottom{padding: 30px 0px;}
	.footer.footer4{padding: 0px;}
	.footer.footer4 .form-item{margin-top: 0px;}
	/*.blogs{padding: 30px;}*/

	.recent-stories {margin-top: 40px;}
	.recent-stories .left-img {margin-bottom: 15px}

	#block-views-programs-block-2 .img-wrap {margin-top: 30px}
	#block-views-programs-block-5 .film-dev-support .content-item{ margin-bottom: 30px; }

	.page-database{padding: 0px;}
	.page-cinelokal{padding: 0px;}
	.cinelokal-bottom .img-wrap img{padding-left: 0px;}
	.cinelokal-bottom .description{text-align: center;}
	.spotlight-landscape{padding: 10px;}
	.cinelokal-social > ul > li{margin:0px;}
	.cinelokal-social{padding-top: 30px;}
	.awards-thumbnail .reg-title h2{font-size: 17px;margin-top: 0px;}
	.awards-thumbnail .reg-title a{font-size: 17px}
	.awards-thumbnail {text-align: center;}
	.social-feed.social-content-twitter iframe{height: 500px;}
	.happenings{text-align: center;}
	.else-where{display: none;}


	#block-mailchimp-signup-subscribe{ padding: 0; }
	.footer{ display: block; }
	.footer ul{ padding: 0; }
	.footer > .block{display: block;}

	.mailchimp-signup-subscribe-form{ padding: 15px 0; text-align: center; }
	#mailchimp-newsletter-5c839a5c83-mergefields{ width: auto; }
	#block-mailchimp-signup-subscribe #edit-actions{ float: none; }

	.thumbnail-trailer iframe{width: auto;}
}




@media only screen and (max-width: 768px){
	.workshop-img{max-width: 250px; margin: 0 auto;}
	.workshop-info{text-align: center; height: auto;}
	.workshop-grid .btn-md-yellow{position: relative;}
	.spotlight-landscape .spotlight-img{margin: 0 auto;}
	.spotlight-desc{text-align: center;}
	.map-desc{position: relative;max-width: 100%;}
	.map-desc .address{margin-top: 0px;}
	#block-mailchimp-signup-subscribe{padding: 0px;}
	.mv-img{margin-bottom: 10px;}
	.events .view-filters .form-item .form-type-bef-link a{font-size: 13px;}
	.menu-right{float: left;}
	.now-showing .cinelokal-logo{padding-top: 30px;}
	.cinematheque-map .map-thumbnails > ul li{width: 100%;}
	.map-thumbnails .place-name p{line-height: 14px;	min-height: 30px;}
	.stories .med-title h2{margin: 0;}
	.conditions{text-align: center;}
	.section-list{padding-left: 0px;}
	.right-info{padding-top: 0px;}
	.main-stories{padding: 10px 0px;}
	.ajax-progress .throbber{width: 0px ; height: 0px;}
	.btn-md-yellow a{padding: 5px 15px}
	.btn-md-yellow{text-align: center;}
	.info-pane .small-desc{padding: 20px 0px;}

}

@media (max-width: 500px){


  	#block-views-banner-block-1 > div > div > div > ul > div.owl-controls > div{display: none;}
    #block-views-media-block-14 .float-right{ float: none; }
    #block-views-media-block-14 .filter{margin-top: 0;}
  	.btn-md-yellow a,.btn-md-black a{display: block;}
  	.section-contact .description{text-align: left;}
  	.section-contact li{padding: 20px 10px;display: block;}
  	#block-mailchimp-signup-subscribe #edit-actions{margin: 10px;float: none;}
  	#mailchimp-newsletter-5c839a5c83-mergefields{padding: 10px;}
  	#block-views-media-block-2 .float-right{ float: none; }
  	#block-views-media-block-2 .float-right .filter{ margin: 0; }
  	.post-grid{ padding: 0px 0px; padding-left: 10%; }
  	.breadcrumb__item{ font-size: 14px; }
    .breadcrumb__item a{color: #000;text-decoration: none;}
    .breadcrumb__item a:hover{color: #000;text-decoration: none !important;}
    .breadcrumb__item a:visited{color: #aaa !important;}
	#edit-field-cinematheque-branch-target-id-wrapper .form-item.form-type-radio{ padding: 7px 15px; display: block; float: left; width: 50%;margin: 0;text-align: left; }
  	#edit-field-cinematheque-branch-target-id{ margin-left: 10%; }
  	.float-head{ margin-bottom: 30px; }
  	.float-head .space{display: none;}
  	.page-node-147 .block-views{padding: 0px !important;}

  	.cinematheque-map .map-desc p {width: 145px;}

  	.header .nav-left a img{ width: 70px; top: -30px; }
  	.region-site-name{ margin-left: 70px; }
  	.region-site-name .sub-sitename{ font-size: 11px; }
  	.region-site-name .sitename{ font-size: 18px; line-height: 18px; }
    .footer{text-align: center;}
}
/*End Mobile View*/

/*.page-node-215 .full-description .med-title{width: 100%;}
.page-node-215 .full-description .content-left{padding: 0;}
.page-node-215 .full-description .med-title:before{content: ''; background: url(../images/cinelokal_logo.png) no-repeat; height: 140px; display: block; background-position: center; margin-bottom: 60px;}
*/
/*@media screen and (min-width: 992px){
	.page-node-215 .full-description .row{display: flex;align-items: center;justify-content: center;}
}*/

.accordion-image{text-align: center;}
.accordion-image .field-item{display: none;}
.accordion-image .field-item:first-of-type{display: block;}
.accordion-image .field-item img{max-width: 300px;}

.fic-body{font-size: 18px;}
.fic-body h2{font-family: 'aileronbold';text-transform: uppercase;}
.form-poster{margin-bottom: 30px;}
.registration-form{margin: 50px 0px;padding: 10px; border: 15px solid #c1c1c1;}
.registration-form .webform-client-form{font-size: 18px;}
.registration-form .webform-client-form .form-wrapper legend{margin: 0; background: #dbb516; padding: 10px 30px; color: #000; font-family: 'aileronbold'; text-transform: uppercase;}
.registration-form .fieldset-wrapper >  .form-item{float: left; width: 50%; padding: 0 10px; margin: 10px 0; min-height: 65px;}
.registration-form .fieldset-wrapper .webform-component-managed_file{float: left; width: 50%; padding: 0 10px; margin: 10px 0; min-height: 65px;}
.registration-form .webform-client-form .form-wrapper select{width: 100%;}
.registration-form .webform-client-form .form-wrapper input{width: 100%;}
.registration-form .webform-client-form .form-wrapper textarea{width: 100%;}
.registration-form .webform-client-form .form-wrapper .form-managed-file input{width: auto;margin-top: 5px;}
.registration-form .webform-client-form .form-wrapper .form-radios input{width: auto;}
.registration-form .webform-client-form .form-wrapper .webform-datepicker select{width: auto;}
.registration-form .webform-client-form .form-wrapper .webform-calendar{width: auto;}
.registration-form .registration-form .webform-client-form .form-actions{text-align: center;}
.registration-form .webform-client-form .form-actions{text-align: center;}
.registration-form .webform-client-form .form-actions .form-submit{font-size: 21px; background: #dbb516; color: #000; text-align: center; padding: 10px 50px; text-transform: uppercase; margin: 10px 10px; border: 1px solid #dbb516;transition: all 0.5s ease;width: auto;}
.registration-form .webform-client-form .form-actions .form-submit:hover{border: 1px solid #fff; color: #dbb516; background: #000;}
.registration-form .webform-client-form .form-checkboxes input{width: auto;}
.registration-form .webform-confirmation{font-size: 22px;}
.registration-form .links{font-size: 18px;}
@media screen and (max-width: 500px){
	.registration-form .fieldset-wrapper >  .form-item{float: none;width: auto;}
}
.ceb-year-tabs .nav-tabs>li a{font-family: 'aileronbold';}
.ceb-year-tabs .nav-tabs>li.active>a,
.ceb-year-tabs .nav-tabs>li.active>a:focus,
.ceb-year-tabs .nav-tabs>li.active>a:hover{background-color: #dbb516;color: #000;}
.ceb-year-tabs .nav-tabs>li{float: right;}

.section-fic .sb-slide{transform: none;}
.fic-nav{/* position: fixed; */ background: #c1c1c1; width: 100%; left: 0; z-index: 9999; margin: 40px 0px; top: 0;}
.fic-nav .container{padding: 0;}
.fic-nav.stick-top{position: fixed;margin: 0;}
.fic-nav ul{margin: 0;padding: 0;}
.fic-nav li{display: inline-block; padding: 0px 0px;text-align: center;}
.fic-nav li.active{background: #dbb516;}
.fic-nav li a{text-align: center;font-family: 'aileronbold';color: #000;padding: 10px 30px;display: block;}
.section-fic .scroll{margin-bottom: 50px;}
.section-fic .scroll .btn-md-yellow{padding: 30px 0px;}
.section-fic h2,.section-fic h3{font-family: 'aileronbold'; }
.fic-top{text-align: center;}
.fic-top p{font-size: 18px;margin-bottom: 25px;}
.fic-top .short-description{max-width: 900px;margin: 0 auto;text-align: center;font-size: 18px;}
#fic-sec1 p,
#fic-sec2 p,
#fic-sec3 p{max-width: 900px;font-size: 18px;}
#fic-sec1 strong,
#fic-sec2 strong,
#fic-sec3 strong{max-width: 900px;font-size: 18px;}

.title-center{text-align: center;margin-bottom: 30px;}
#fic-sec3{margin-bottom: 50px;}
#fic-sec3 h2{margin-bottom: 30px;}
#fic-sec3 h3{text-transform: uppercase;}

.registration-form #webform-component-participation .fieldset-wrapper > .form-item{float: none;}

.registration-form .form-managed-file input{width: auto;}

.bordered-text {border: 2px solid #dbb516; padding: 30px; margin: 40px 0; text-align: center;}
.bordered-text .bordered-info {max-width: 1000px; margin: auto;}
.button-wrap .button.button1 {font-size: 18px; cursor: pointer; background: #dbb516; color: #000; text-align: center; padding: 10px 40px; text-transform: uppercase; border: 1px solid #dbb516; font-family: 'TradeGothicLTStd-Cn18'; display: inline-block; -moz-appearance: none; -webkit-appearance: none;}
.button-wrap .button.button1:hover {background: transparent; color: #dbb516}
.button-wrap .button.button2 {font-size: 18px; cursor: pointer; background: #000; color: #dbb516; text-align: center; padding: 10px 40px; text-transform: uppercase; border: 1px solid #000; font-family: 'TradeGothicLTStd-Cn18'; display: inline-block; -moz-appearance: none; -webkit-appearance: none;}
.button-wrap .button.button2:hover {background: #dbb516; color: #000; border: 1px solid #dbb516}
.weareintrsmuros-body {font-size: 18px;}
.weareintrsmuros-body h3 {font-weight: bold;}
.weareintrsmuros-btn {text-align: center; margin-bottom: 20px;}
.weareintrsmuros-btn .button {margin: 0 10px}

.modal .modal-header {margin: 10px 20px; border: 0; padding: 0;}
.modal .close {color: #dbb516; text-shadow: none; font-size: 28px; font-weight: bold; margin: 0; opacity: 1; outline: 0; -moz-appearance: none; -webkit-appearance: none;}
#modal-submit br, #modal-submit .block__title {display: none;}
#modal-submit .modal-content .modal-body {padding: 0 30px 30px;}
#modal-submit label {color: #333; text-align: left; font-weight: normal;}
#modal-submit .modal-dialog {margin-top: 2%; max-width: 500px;}
#modal-submit input[type="text"], #modal-submit input[type="email"], #modal-submit textarea {padding: 5px 10px;  width: 100%; border: 1px solid #666666;}
#modal-submit textarea {height: 100px;}
#modal-submit input[type="text"]:focus, #modal-submit input[type="email"]:focus, #modal-submit textarea:focus {border: 1px solid #dbb516; outline: 0}
#modal-submit .form-actions input[type="submit"] {border: 1px solid #dbb516; padding: 10px 15px; margin: 10px 0 5px; width: 100%; text-align: center; max-width: 130px; color: #fff; font-size: 16px; background: #dbb516; text-transform: uppercase; outline: 0; font-family: TradeGothicLTStd-Cn18; font-weight: normal;}
#modal-submit .form-actions input[type="submit"]:hover {background: transparent; color: #dbb516;}
#modal-submit .webform-client-form > div > div {width: 100%; clear: both;}
#modal-submit input[type="file"] {float: left; max-width: 260px; cursor: pointer; outline: 0}
#modal-submit .webform-component-managed_file input[type="submit"] {float: right; background: #dbb516; border: 0; padding: 6px 20px; text-transform: uppercase; font-family: TradeGothicLTStd-Cn18; color: #fff; text-align: center;border: 1px solid #dbb516;}
#modal-submit .webform-component-managed_file input[type="submit"]:hover {background: transparent; color: #dbb516}
#modal-submit input[type="file" i]::-webkit-file-upload-button {cursor: pointer; background: transparent; border: 0; padding: 6px 20px; font-family: TradeGothicLTStd-Cn18; color: #b5b5b5; text-align: center;border: 1px solid #b5b5b5;}
#modal-submit input[type="file" i]::-webkit-file-upload-button:hover {background: #b5b5b5; color: #fff}
#modal-submit .form-managed-file:after {display: table; content: " "; clear: both;}
#modal-submit .form-actions {text-align: center;}

.webform-confirmation-wrapper{ margin: 80px 0; text-align: center; }
.webform-confirmation-wrapper .webform-confirmation{ font-size: 24px; }
.webform-confirmation-wrapper .links a{ font-size: 18px; background: #dbb516; color: #000; text-align: center; padding: 10px 50px; text-transform: uppercase; margin: 10px 10px; border: 1px solid #dbb516; transition: all 0.5s ease; width: auto; display: inline-block; }
.webform-confirmation-wrapper .links a:hover{ border: 1px solid #fff; color: #dbb516; background: #000; }
.node-webform{ font-size: 18px; }
.node-webform .webform-client-form{ margin-bottom: 25px; }
.node-webform .webform-client-form .form-actions .form-submit{ font-size: 21px; background: #dbb516; color: #000; text-align: center; padding: 10px 50px; text-transform: uppercase; margin: 10px 10px; border: 1px solid #dbb516;transition: all 0.5s ease;width: auto;}
.node-webform .webform-client-form .form-actions .form-submit:hover{border: 1px solid #fff; color: #dbb516; background: #000;}

#webform-component-name{ margin-top: 30px; }

#webform-component-aconference-content,
#webform-component-a-workshop-content,
#webform-component-b-conference-speakers,
#webform-component-b-workshop-speaker,
#webform-component-c-registration-process,
#webform-component-d-venue,
#webform-component-e-food-and-beverage,
#webform-component-a-pre-event-invitation-and-coordination,
#webform-component-b-airport-pick-up,
#webform-component-c-hotel-check-in-and-check-out,
#webform-component-d-assistance-during-the-conference,
#webform-component-e-airport-drop-off{
  padding-left: 30px;
}
#webform-component-designation-occupation label,
#webform-component-name label{ display: block; }

#block-views-media-block-7 img.full-img {width: 100%; max-width: none;}

#media-wrapper img {width: 100%; max-width: 500px;}
#media-wrapper .reg-title {font-size: 32px; line-height: 36px; margin: 20px 0px;}-wrapper .reg-title .tiny-text {margin-top: 5px; font-size: 16px;}
#media-wrapper .reg-title .tiny-text {font-size: 12px}
#media-wrapper .body {font-family: aileronregular;}
#media-wrapper .other-img-wrap {margin: 30px 0;}
#media-wrapper .other-img-wrap .field-items {margin-left: -15px; margin-right: -15px;}
#media-wrapper .other-img-wrap .field-items:after {clear: both; content: " "; display: table;}
#media-wrapper .other-img-wrap .field-items .field-item {margin: 20px 0}
#media-wrapper .sharethis-title {font-size: 18px; margin: 20px 0 10px;}

.biff-data-wrap {font-size: 20px; margin-bottom: 50px;}
.red {color: #b22222;}
.boxed-wrap {padding: 50px; background: #fff5d3; margin-bottom: 30px; margin-top: 30px;}
.view-biff-view {margin-bottom: 50px}
.biff-item {padding: 30px 0; border-top: 1px solid #cccccc; font-size: 25px;}
.view-id-biff_view .item-list > ul > li:first-child .biff-item {border-top: 0}
.biff-item .date-wrap {color: #b22222; font-weight: bold;}
.biff-item .title-wrap, .biff-item .title-wrap a {color: #000; font-weight: bold;}
.biff-item .title-wrap a:hover {color: #aaa;}
.biff-item .subtitle-wrap {color: #000; font-weight: bold;}
.biff-item .location-wrap {color: #aaa; font-size: 20px;}
.biff-item .time-wrap {color: #aaa; font-size: 20px;}
.biff-item .desc-wrap p {margin-top: 30px; color: #aaa; font-size: 20px;}
.biff-page-content .biff-item {border-top: 0}
#block-webform-client-block-302,
#block-webform-client-block-296 {margin-bottom: 70px;margin-top: 20px;}
#block-webform-client-block-302 .block__title, 
#block-webform-client-block-296 .block__title {display: none;}
#block-webform-client-block-302 #webform-component-event-name,
#block-webform-client-block-302 #webform-component-event-date,
#block-webform-client-block-302 #webform-component-event-time,
#block-webform-client-block-302 #webform-component-event-location, 
#block-webform-client-block-296 #webform-component-event-name,
#block-webform-client-block-296 #webform-component-event-date,
#block-webform-client-block-296 #webform-component-event-time,
#block-webform-client-block-296 #webform-component-event-location {pointer-events: none;}
.fdcp-event-form-wrapper{ margin-bottom: 70px; }
.fdcp-event-form-wrapper,
#webform-client-form-302,
#webform-client-form-296 {padding: 10px; border: 15px solid #c1c1c1;}
.fdcp-event-form-wrapper form > div:after,
#webform-client-form-302 > div:after ,
#webform-client-form-296 > div:after {display: table; content: " "; clear: both;}
.fdcp-event-form-wrapper form .webform-component#webform-component-name,
.fdcp-event-form-wrapper form .webform-component,
#webform-client-form-302 .webform-component,
#webform-client-form-296 .webform-component{float: left; width: 50%; padding: 0 10px; margin: 10px 0; min-height: 65px;}
.fdcp-event-form-wrapper form .webform-component input,
#webform-client-form-302 .webform-component input,
#webform-client-form-296 .webform-component input{width: 100%;}
.fdcp-event-form-wrapper form .webform-component select,
#webform-client-form-302 .webform-component select,
#webform-client-form-296 .webform-component select{width: 100%; height: 26px;}
.fdcp-event-form-wrapper form .webform-component .form-type-checkbox,
.fdcp-event-form-wrapper form .webform-component .form-type-radio, 
#webform-client-form-302 .webform-component-checkboxes .form-type-checkbox,
#webform-client-form-302 .webform-component-radios .form-type-radio, 
#webform-client-form-296 .webform-component-checkboxes .form-type-checkbox,
#webform-client-form-296 .webform-component-radios .form-type-radio {display: inline-block; margin-right: 20px;}
.fdcp-event-form-wrapper form .webform-component .form-type-checkbox input[type="checkbox"],
.fdcp-event-form-wrapper form .webform-component .form-type-radio input[type="radio"], 
#webform-client-form-302 .webform-component-checkboxes .form-type-checkbox input[type="checkbox"],
#webform-client-form-302 .webform-component-radios .form-type-radio input[type="radio"], 
#webform-client-form-296 .webform-component-checkboxes .form-type-checkbox input[type="checkbox"],
#webform-client-form-296 .webform-component-radios .form-type-radio input[type="radio"] {width: auto;}
.fdcp-event-form-wrapper form #webform-component-role, 
.fdcp-event-form-wrapper form #webform-component-project-type, 
#webform-client-form-302 #webform-component-project-type, 
#webform-client-form-296 #webform-component-project-type {width:100%;}
.fdcp-event-form-wrapper form #edit-actions,
#webform-client-form-302 #edit-actions,
#webform-client-form-296 #edit-actions {text-align: center; float: left; width: 100%;}
.fdcp-event-form-wrapper form #edit-actions .form-submit,
#webform-client-form-302 #edit-actions .form-submit,
#webform-client-form-296 #edit-actions .form-submit{ font-size: 21px; background: #dbb516; color: #000; text-align: center; padding: 10px 50px; text-transform: uppercase; margin: 10px 10px; border: 1px solid #dbb516; transition: all 0.5s ease; width: auto;}
.fdcp-event-form-wrapper form #edit-actions .form-submit:hover,
#webform-client-form-302 #edit-actions .form-submit:hover,
#webform-client-form-296 #edit-actions .form-submit:hover{border: 1px solid #fff; color: #dbb516; background: #000;}
.fdcp-event-form-wrapper form .webform-component-textarea,
#webform-client-form-302 #webform-component-why-do-you-want-to-attend-this-event, 
#webform-client-form-296 #webform-component-why-do-you-want-to-attend-this-event {width: 100%}
.fdcp-event-form-wrapper form .webform-component-textarea textarea,
#webform-client-form-302 #webform-component-why-do-you-want-to-attend-this-event textarea,
#webform-client-form-296 #webform-component-why-do-you-want-to-attend-this-event textarea {width: 100%}
.notes-wrap .title-wrap {font-family: aileronbold; text-transform: uppercase; font-size: 15px; margin-bottom: 10px; line-height: normal;}

.section-transparensy .inline{display: inline-block;padding: 0px 20px 20px 0px;}
.section-transparensy .small-desc{font-size: 17px;}
.section-transparency-seal .inline .file a{font-size: 15px;}
.file.foi img{max-width: 120px;}
.section-transparensy .file:hover a{color: #dbb516} 

@media (max-width: 700px) {
	#webform-client-form-296 .webform-component {width: 100%}
}