@import('fdcp.css');


@yellow: #dbb516;

body{ font-family: 'TradeGothicLTStd-Cn18'; font-size: 15px; }

.yellow{color: @yellow;}

/* global */
.space{padding: 10px 0px;}
a{outline: none;}
i{transition: all 0.5 ease;}
img{transition: all 0.5s ease;}
ul.numeric {list-style-type: decimal; padding-left: 15px;}
ul.small-alpha {list-style-type: lower-alpha; padding-left: 15px;}
ul.disc {list-style-type: disc; padding-left: 15px;}
ul.circle {list-style-type: circle; padding-left: 15px;}
ul.indented {list-style-type: none; padding-left: 15px;}
.section{padding: 30px 0px;}
.small-date{ font-size: 13px; }
.clear{ clear: both; height: 0; }

.btn-md-yellow{
  a{
    font-size: 18px;
    cursor: pointer;
    background: #dbb516;
    color: #000;
    text-align: center;
    padding: 10px 40px;
    text-transform: uppercase;
    border: 1px solid #dbb516;
    font-family: 'TradeGothicLTStd-Cn18';
    display: inline-block;
  }
  a:hover{
    text-decoration: none;
    color: #dbb516;
    background: transparent;
    border: 1px solid #dbb516;
    transition: all 0.5s ease;
  }
}
.btn-md-black{
  a{
    font-size: 18px;
    cursor: pointer;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px 40px;
    text-transform: uppercase;
    border: 1px solid #000;
    font-family: 'TradeGothicLTStd-Cn18';
    display: inline-block;
  }
  a:hover{
    text-decoration: none;
    color: #000;
    background: transparent;
    border: 1px solid #000;
    transition: all 0.5s ease;
  }
}

.sb-toggle-right.navbar-lefts {cursor: pointer;}
.font-small{font-size: 14px;}
.font-medium{
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 5px;
  a{ font-size: 18px; color: #000; }
}
.view-media .font-medium{font-size: 18px;}
#block-views-media-block-15 .font-medium{ margin-top: 5px; }
#block-views-media-block-15{
  ul{
    padding: 0;
    li{
      list-style-type: none;
    }
  }
}
.font-big{font-size: 30px;}
.font-bold{font-weight: bold;font-family: 'TradeGothicLTStd-Cn18';}
.font-normal{font-weight: normal;font-family: 'TradeGothicLTStd-Cn18';}
.centered-text {text-align: center;}
.grayscale-on{ filter: grayscale(100%);transition: all 0.5s ease; }
.grayscale-off{ filter: none;transition: all 0.5s ease; }
.dark-on{filter: brightness(60%);transition: all 0.5s ease; }
.dark-off{filter: brightness(100%);transition: all 0.5s ease;}
.description{ font-size: 20px; line-height: 25px;}
.description p{ font-size: 20px; line-height: 25px;}
.small-desc{ line-height: 22px;}
.med-title{font-family: aileronbold; text-transform: uppercase;font-size: 30px;margin-bottom: 20px; line-height: normal;}
.med-title a{color: #484848;}
.med-title h2 a{color: #484848;}
.reg-title{font-family: aileronbold;font-size: 20px;}
.reg-title:hover a{color: #dbb516}
.tiny-text{ color: #3d3e3f;}
.gray-background{background: #eee;}
.list-disc{list-style-type: disc;}
.all-movie-item{
  padding: 15px;
  .reg-title{
    h2 {
      margin: 0;
    }
  }
  .small-desc p{
    margin: 0;
  }
  .img-wrap{margin-bottom: 10px;}
}


// New Header
#block-block-36{position: inherit;}

.menus-right{
  padding-top: 2px;
  float: right;
    li{
      display: inline-block;
      padding: 0px 15px;
    }
  a{color: #fff;font-size: 14px;}
  a:hover{color: #dbb516}  
}

.mfp-content{
  body{
    text-align: center;
  }
}


.top-navigation .sub-menu{
    left: 0;
    width: 100%;
    text-align: left;
    top: 122px;
    background: #e5ca57;
}







#block-block-43{ background: #eee; }

.page-node-10{
  .now-showing{
    background: #eeeeee;
    // padding: 50px 0px;
  }
}

.page-cinematheque{
    background: #eeeeee;
    // padding: 50px 0px;
}

.movie-filter{
    position: relative;
    .views-exposed-widget{
      float: none;
      text-align: center;
  }
  .views-exposed-widgets{
    text-align: center;
  }
  #edit-title-wrapper{
    margin-left: -70px;
    div,label{display: inline-block;}
    label{.font-medium;.font-normal;}
    div{
      input{
        text-align: center;
        .font-normal;
        width: 350px;
        padding: 5px;
      }
    }
  }
  .views-submit-button{
    position: absolute; top: -8px; right: 210px;
    input{
      margin-top: 10px;
      font-size: 18px; cursor: pointer; background: #dbb516; color: #000; text-align: center; padding: 4px 36px; text-transform: uppercase; border: 1px solid #dbb516; font-family: aileronbold; text-transform: uppercase; font-weight: bold;
    }
  }
}

#block-views-exp-movies-block-3{
  .views-submit-button{
      position: absolute; top: 54px; right: 210px;
  }  
}
  

#edit-field-genra-value-wrapper,#edit-field-movie-rating-value-wrapper,#edit-field-date-released-value-wrapper{
        display: inline-block;
        margin: 0px 10px 0px 95px;
        div,label{display: inline-block;.font-normal;}
        label{.font-medium;}
        select{padding: 5px;}
      }
.cinelokal-filter.movie-filter{
  padding-bottom: 10px; border-bottom: 1px solid #eeeeee;
}
.branch-grid{
  text-align: center;
  .title{
    width: 100%;
    margin: 0 auto;
    max-width: 160px;
    .font-bold;
    font-size: 16px;
    a{
      color: #000;
    }  
  }
  .branch-item{
    display: inline-block;
    margin: 25px;
  }
  img{
    border-radius: 50%;
    width: 100%;
    max-width: 190px;
  }
}

.section.cinematheque-branches{
  text-align: center;
}

#edit-field-cinematheque-branch-target-id-wrapper{
  padding-left: 70px;
  .form-item.form-type-radio{
    display: inline-block;
    margin: 15px;
    label{
      .font-normal;
      .font-medium;
      color: #aaa;
      padding: 10px;
    }
    input[type="radio"]:checked+label{
      background: #dbb516;
      color: #000;
    }
  }
}

.node-type-movies{
  .details-right{
    
    .showing-table{
      td{padding-bottom: 10px;}
    }
  }

  .col-md-4{
    table{
      td.title{
        width: 50%;
      }
      .first{padding-top: 10px;}
    }
  }

  .main-container{
    border-right: 1px solid #eee; padding-right: 15px;
    
    .section-video-clips{
      .video-item{
        .grayscale-on;
        a{
          position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
        }
      }
      .video-item:hover{
        .grayscale-off;
        i{color: #f8fb50ad;}
      }
    }
    .section1{
      .content-right{
        .img-wrap{
          a.video-popup-link[href='']{display: none;}
          max-width: 430px; 
          a{position: absolute; left: 50%;top: 50%;transform: translate(-50%,-50%);}
        }
        .img-wrap:hover > img{.dark-on;}
        .img-wrap:hover{
          i{
            color: #f8fb50ad;
          }

        }
      }
    }
  }
}

#instafeed{
  border-left: 1px solid #eee;
}

.spotlight-img img{
  .dark-off;
}
.spotlight-img:hover img{
  .dark-on;
}

.cinematheque-inner-page{
  .overview-list{
    i{font-size: 14px;margin-top: 6px;}
    li{margin-bottom: 15px;}
  }
  .section-schedules{
    .grid-item{
      margin-bottom: 40px;
      .showtimes{
        margin-top: 10px;
      }
      img{.dark-off;}
      img:hover{.dark-on;}
    }
  }
  .section-schedules{
    background: #eee;
  }

  .branch-map{
    margin:20px 0px;
    iframe{width: 100%;}

  }
  .location-info{
    .description{
      img{position: absolute;}
      .address{margin-left: 45px;margin-top: 5px;}
    }
  }
  // .section-contact{
  //   margin-bottom: 50px;
  //   .description{
  //     text-align: center;
  //   }
  //   li{display: inline-block;margin: 0px 40px;color: #000;
  //     a{ color: #000 }
  //     i{display: inline-block;margin-right: 10px; color: #fff; background: #000; border-radius: 100%; width: 35px; height: 35px; padding-top: 9px;}
  //     .field{display: inline-block;}
  //   }
  // }
}

.section-top-event{
  .action{
    padding: 40px 0px;
    div{
      display: inline-block;
      margin-right: 20px;
    }
    a{padding: 10px 40px;}
  }
  .small-desc{
    max-width: 458px;
  }
  .content-right{
    padding-top: 30px;
    .med-title a{color: #000;}
  }
}

.node-type-workshop .section.block-sharethis{ padding-top: 0; }

.section-other-events{
  .events-grid{
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-bottom: 20px;
    .content-right{
      padding-top: 10px;
      .small-desc{
        max-width: 250px;
      }
    }
  }
  .events-grid:hover{background: #dbb516; box-shadow: 0 0 20px #00000033;}
  .content-left{
    text-align: center;
  }
}

/* stories */
.stories{
  ul{
    list-style-type: none;
    padding-left: 0px;
  }
  .right-info .reg-title{
    h2 {
      margin: 0;
    }
    a{
      font-size: 18px;
      font-family: 'TradeGothicLTStd-Cn18';
    }
  } 
} 

.recent-stories{
  .views-row{
    padding: 14px 0px;
  }
  // padding-top: 20px;
  .small-desc{
    a{font-weight: bold; color: #000;}
    float: right; font-size: 16px;  margin-top: -21px;
  }
  .med-title{
    border-bottom: solid 1px #000;
    padding-bottom: 10px;
    margin-bottom: 0;
    font-size: 24px;
    h2{
      font-size: 22px;
      margin-bottom: 0;
    }
  }
  .stories-right{
    .right-info{
      margin-left: -30px;
      @media only screen and (max-width: 992px){
        margin-left: 0;
      }
    }
  }
}


.float-head{
  .med-title{ float: left; }
  .float-right{
    float: right;
    height: 42px;
    line-height: 42px;
    .filter{
      .form-item{
        display: inline-block;
        select{ font-size: 20px; border-radius: 10px; padding: 5px;display: none;}
        label{ font-size: 20px;padding: 10px;color: #000; }
        input[type=radio]{visibility: hidden;}
        input[type="radio"]:checked+label{
          background: #dbb516;
          color: #000;
        }
      }
    }
  }
  strong.float-right a{font-size: 14px; color: #000;text-decoration: none;}

  @media only screen and (max-width: 992px){
    #edit-field-event-type-value-wrapper{display: none;}
    select{display: block !important;}
    label{display: none;}
  }
}

.section-festivals{
  .festival-overview{
    a{color: #000;text-decoration: none;}
    .content-left{
      .img-wrap{
        position: relative; max-width: 250px; width: 100%; margin: 0 auto;
      }
    }
    .content-right{
      .description{max-width: 650px;}
      .med-title{.space;}
      .action{
        padding: 30px 0px
      }
    }
  }
  .content-body{
    .gray-background;
    .small-desc.short-desc{max-width: 560px;}
  }
  .gallery{
    .views-row{margin-bottom: 25px;}
  }
}


.section-programs{
  // .section-contact{padding: 60px 0px;}
  .overview{
    .content-right{
      .med-title{ margin-bottom: 10px; }
      .description{margin-bottom: 50px; max-width: 650px;}
      .action{margin-bottom: 30px;}
    }
  }
  .full-description{
    background: #eee;
    .fright {
      float: right;
      text-align: center;
    }
    .content-left{
      padding: 30px 0px;
    }
  }
}

.programs-overview{
  .content-right{
    padding: 15% -0px;
    .med-title{margin-bottom: 20px;}
  }
}

// Mobile Responsive

@media (min-width: 992px) and (max-width: 1199px){
  .movie-filter .views-submit-button{
    right: 115px !important;
  }
}


@media (min-width: 300px) and (max-width: 991px){
  #block-views-programs-block-1 .item-list{padding: 0px !important;}
  #edit-field-genra-value-wrapper, #edit-field-movie-rating-value-wrapper, #edit-field-date-released-value-wrapper{
    display: block;
    margin: 0;
    text-align: left;
    margin-left: 25%;
    br{display: none;}
  }
  #edit-field-genra-value-wrapper label, #edit-field-movie-rating-value-wrapper label, #edit-field-date-released-value-wrapper label{
    min-width: 70px;
  }
  .movie-filter .views-submit-button{
    position: unset !important;
  }
  .movie-filter #edit-title-wrapper div, .movie-filter #edit-title-wrapper label{
    display: block;
  }
  .movie-filter #edit-title-wrapper{
    margin: 0;
  }
  .movie-filter #edit-title-wrapper div input{
    width: 261px;
  }
  .view-display-id-block_19,.view-display-id-block_3{
    text-align: center;
  }
  #block-views-programs-block-1 .card{
    margin-bottom: 30px;
  }
 
  .views-widget-filter-title_1{margin-left: 0px !important;}
}

@media (max-width: 1199px){
  .section-contact li{margin: 0 !important;}
}

@media (max-width: 500px){
}

@media (max-width: 767px){
  #edit-field-cinematheque-branch-target-id-wrapper{padding-left: 0px;}
  .section-other-events .events-grid .content-right .small-desc{
    max-width: 100%;
    padding: 10px;
  }
  .section-other-events{text-align: center;}
  .section-press-release .view-content{text-align: center;}
  .section-top-event .action div{margin-bottom: 30px;}
  .section-top-event .action{text-align: center;}
  .fdcp-events{
    .float-right{
      float: none;
      .filter{margin: 0;}
    }
  }
}

#block-views-programs-block-1{
  .item-list{padding: 0px 100px;}
  .card{
    .btn-md-yellow{
      margin-top: 30px;
      // a{font-size: 16px;}
    }
    .reg-title{margin-bottom: 10px;min-height: 65px;}
    .img-wrap{padding: 30px;min-height: 160px;}
    text-align: center;
    background: #eee;
    padding: 30px;
    .small-desc{
      width: 100%;
      margin: 0 auto;
      max-width: 240px;
    }
  }
}


#block-views-programs-block-5{
  .film-dev-support{
    padding-bottom: 60px;
    .content-item{
      .btn-md-yellow{
        margin-top: 40px;
      }
      .reg-title{
        margin: 30px 0px 20px 0px;
      }
      text-align: center;
    }
  }
}

.film-distribution-exhibition{
  .row{padding: 30px 0px;}
  background: #eee;
  padding: 60px 0px;
  .content-item{
    .reg-title{margin-bottom: 10px;}
    text-align: center;
    .small-desc{max-width: 240px; width: 100%; margin: 0 auto;}
  }
}


#block-views-programs-block-2{
  // padding: 35px 0px;  
  ul{
    padding: 30px 0px;
    .item{
      text-align: center;
      .small-desc{padding: 30px 0px;}
    }
  }
}

#block-views-film-festival-block-1{
  .med-title{margin-bottom: 10px;}
  background: #eee;
  padding: 60px;
  li{
    margin-bottom: 20px;
  }
  li:last-child{
    margin-bottom: 0px;
  }
  .small-desc.short-desc{
    max-width: 570px;
  }
}

.gallery-thumbnail{
  li{
    margin-bottom: 30px;
  }
}

#block-views-photo-gallery-block-1{
  .view-display-id-block_1{
    padding-bottom: 0px;
  }
}

.film-festival-page{
  .section-contact{
    padding-bottom: 60px;
  }
}


.view-display-id-block_4{
  li{
    margin-bottom: 20px;
  }
}

#block-views-media-block-13{
  margin-bottom: 30px;
}

#block-block-22{
  br{display: none;}
}

.movie-title{
  margin-bottom: 0px;
}

#block-block-21{
  br{display: none;}
  margin-top: 10px;
}

.page-node-147{
  .block-views{.section;}
}



// Member Benifits Styles
.section-fdcp-member-benefits{
  .primary-navigation ul > li{font-family: aileronbold; text-transform: uppercase;font-size: 14px;}
  p,li{
    font-size: 16px;
  }
  .title-wrap{font-size: 20px;font-family: 'aileronbold';}
  h1.main-title{text-align: center;font-family: 'aileronbold'}
  h1.main-title:after{
      display: block;
      content: " ";
      border-bottom: 7px solid #ffeb00;
      width: 230px;
      margin: 10px auto 0;
  }
  .fright{
    float: right;
    text-align: center;
  }
  h4.title-wrap {
      font-size: 20px;
      text-transform: uppercase;
      margin: 30px 0;
  }
}


.blue-bg-wrap {
  background: #161920;
  color: #fff;
  padding: 50px 0;
  p{font-size: 18px;}
  li{
    a{font-family:'aileronbold';color: #337ab7 }
  }
  .title-wrap {
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
    font-family: 'aileronbold';
    margin-bottom: 30px;
    max-width: 450px;
    margin: 0 auto 30px;
  }
  .title-wrap:after {
    display: block;
    content: " ";
    border-bottom: 7px solid #ffeb00;
    width: 230px;
    margin: 0px auto 0;
  }
  ul.square-list {
    list-style-type: square;
    padding-left: 30px;
    margin: 30px 0px;
  }
}

.yellow-btn{
  a {
    font-size: 21px;
    font-family: 'aileronbold';
    background: #dbb516;
    color: #000;
    text-align: center;
    padding: 10px 50px;
    text-transform: uppercase;
    margin: 10px 0;
    border: 1px solid #dbb516;
    text-decoration: none;
  }
  a:hover{
    background: transparent;
    color: #dbb516;
    border: 1px solid #dbb516;
  } 
}

.career-grid{
  list-style-type: none;
  padding-left: 0px;
  .small-desc{
    padding-bottom: 20px;
    p{
      line-height: 20px;
    }
    a{
      text-decoration: none;
      color: #fff;
    }
  }
  li{
    float: left;
    padding: 5px;
    position: relative;
    cursor: pointer;
  }
  li:hover .img-mask{ opacity: 1; }
  .img-wrap{
    display: block;
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    max-width: 370px;
    filter: brightness(70%);
    img{
      height: auto;
      width: 100%;
    }
  }
}

.career.section2 {
  text-align: center;
  .med-title{
    padding: 0;
    margin: 20px 0;
  }
  .car-title{
    position: absolute;
    z-index: 100;
    top: 125px;
    width: 100%;
    transition: all 1s ease;
    a{
      font-family: 'TradeGothicLTStd-Cn18';
      font-size: 20px;
      color: #fff;
    }
  }
}



.val-desc{
  p{ margin: 0; }
}
.val-title h2{
  font-family: aileronbold;
  font-size: 18px;
  font-weight: normal;
}


#block-block-34 {
  margin-bottom: 40px;
}

.title-yellowbg {
    background: #ffeb00;
    padding: 10px 30px;
    color: #000;
    font-family: TradeGothicLTStd-Cn18;
    text-transform: uppercase;
    margin: 20px 0;
}

.event-table{
  td{
    padding: 10px 0px;
  }
  .yellow-btn{
    margin: 30px 0px;
  }
}

.section-media{
  .breadcrumb{
    margin-bottom: 30px;
  }
  #block-views-media-block-8{
    // border-right: 1px solid #aaa;
    padding-right: 10px;
  }
}


#block-views-media-block-7{
  ul li{list-style-type: none;}
  // .img-wrap{text-align: center;}
  img{
    width: 100%;
    max-width: 500px;
  }
  .description{text-align: left;max-width: 700px;}
  .reg-title{
    font-size: 32px;
    line-height: 36px;
    margin: 20px 0px;
    .tiny-text{
      margin-top: 5px;
      font-size: 16px;
    }
  }
  .body {
    font-family: aileronregular;
  }
}
.view-display-id-block_8 .views-row{
    margin-bottom: 20px;
    list-style-type: none;
  }

.map-section{
  .med-title{
    .space;
  }
  .map2,.map3,.map4,.map5{
    width: 0;display: none;
  }
  .address2,.address3,.address4,.address5{
    display: none;
  }
}

.map-thumbnails{
  .place-name{
    background: #000; padding: 15px 0px; padding-bottom: 5px;
    p{ color: #fff; line-height: 15px; }
  }
}

.layout-right{
  float: right;
}

#block-block-22{
  margin-top: 70px;
}

.section-transparency-seal{
  .section-transparensy{margin-bottom: 50px;}
  .item{
    padding: 15px 0px; border-top: 1px solid #aaa;
  }
  .file{
    padding: 0px 0px 10px 0px;
    a{color: #000; font-size: 16px; text-decoration: none;}
  }
  .reg-title{font-size: 18px;margin-bottom: 20px;}
}

.section-partners{
  .section;
  .med-title{margin-bottom: 20px;}
  text-align: center;
  li{display: inline-block;margin:0px 20px;}
}

.movie-thumbnail{
  .watch-trailer{
    opacity: 0;transition: all 0.5s ease;
    position: absolute;top: 35%; left: 25%;
    a{color: #fff; text-decoration: none; font-weight: bold; font-family: TradeGothicLTStd-Cn18; font-size: 22px;}
  }
  transition: all 0.5s ease;
}
.movie-thumbnail:hover{
  img{
    .dark-on;
  }
  .watch-trailer{
    opacity:1;
  }
}

.date-left span.date-display-single{
  color: #aaa;
}

.views-widget-filter-title_1{
  margin-top: 20px;
  margin-left: 60px;
  #edit-title-1-all{display: none;}
  [for~='edit-title-1-all']{display: none;}
  [for~='edit-title-1']{display: none;}
  .form-item{
    display: inline-block;
    label{
      font-size: 18px;
    }
  }
  input[type=radio]{
    visibility: hidden;
  }

  input[type=radio]:checked+label{
      background: #dbb516;
      color: #000;
      padding: 5px;
    }
}


.breadcrumb__item{
    a{text-decoration: none;color: #aaa;}
    a:hover{color: #aaa;text-decoration: none !important;}
    a:visited{color: #aaa !important;}
  }

.pager--infinite-scroll{
  .pager__item{
    a{
      color: #000;
      border: none;
      font-family: TradeGothicLTStd-Cn18;
      font-weight: bold;
    }
    a:hover{
      background: #dbb516;
    }
  }
}  

.node-type-movies .main-container .section1 .content-right .img-wrap{
  i{
    font-size: 150px;
    color: #fff;
    transition: all 0.5s ease;
  }
}

#block-views-movies-block-15{
  .video-item{
    .img-wrap{
      a{
        i{
          font-size: 70px; color: #fff;transition: all 0.5s ease;
        }
      }
    }
  }
}

#block-block-14{
  padding-top: 0px;
}

.pager{
  a{
    color: #000;
    border: none;
    font-family: TradeGothicLTStd-Cn18;
    font-weight: bold;
    padding: 10px !important;
    border-radius: 15px !important;
  }
  a:hover{background: #dbb516 !important; }
  .pager-current{background: #dbb516 !important;border-radius: 15px !important;padding: 5px;}
  .pager-next a:hover{background: transparent !important;}
  .pager-previous a:hover{background: transparent !important;}
}

.page-node-151{ 

  .thumbnail-trailer{
    img{
      .dark-on;
    }

    i{
      position: absolute; top: 50%; left: 50%; color: #fff; font-size: 100px; margin-left: -40px; margin-top: -65px;transition: all 0.5s ease;
    }
  }
  .thumbnail-trailer:hover{
    img{
      .dark-off;
      
    }
    i{color: #f8fb50ad;}
  }

  .social-media-buttons{
    img{width: 100%;height: auto;max-width: 50px;}
  }
}

.mfp-iframe-scaler{
  body{padding: 30px;}
  img{width: 100% !important; max-width: 600px; height: auto; padding-top: 20px !important;}
}

#block-block-35{
  .views-field{display: none;}
}

.about-us{
  font-size: 16px;
  .logo-wrap {
    max-width: 230px;
    margin: 10px auto 30px;
  }
  .row-no-gutter {
      margin-right: 0;
      margin-left: 0;
  }
  .logo-img-wrap {
      float: left;
      margin-right: 15px;
  }
  .logo-wrap:after {
      display: block;
      content: " ";
      border-bottom: 7px solid #ffeb00;
      width: 230px;
      margin: 30px auto 0;
  }
  .desc-wrap h4 {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'aileronbold';
    margin: 30px 0;
  }
}

#user-login > div{

}

#user-login{
      padding: 20px 0px;
      #edit-submit{
        background: #dbb516;
        border: none;
        font-size: 20px;
        transition: all 0.5s ease;
        border-radius: 5px;
      }
      #edit-submit:hover{
        background: #000;
        color: #fff;
        font-size: 20px;
      }
}

.banner-slider.owl-theme .owl-controls .owl-buttons .owl-prev {
    font-size: 25px;
    height: 50px;
    width: 50px;
    padding: 7px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background: #000;
    opacity: 1;
}
.banner-slider.owl-theme .owl-controls .owl-buttons .owl-next {
    font-size: 25px;
    height: 50px;
    width: 50px;
    padding: 7px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: #000;
    opacity: 1;
}

.section-location{
  padding-bottom: 0px;
}

#block-sharethis-sharethis-block,#block-multiblock-1{
  .block__title{
    font-size: 18px;
  }
}

.post-grid{
  ul{
    padding-left: 20px;
    li{
      list-style-type: disc;
    }
  }
}

.video-clip-slider{
  .video-item{
    padding: 0px 10px;
    img{
      width: 100%;
    }
  }
}

.views-widget-filter-title_1 .form-item{
  margin: 0px 10px;
  input{
    display: block;
  }
}

.list-disc{
  ul{
    padding-left: 32px;
  }
}

// Hide Breadcrumbs
.page-node-151,
.page-node-152,
.page-node-147,
.page-node-187{
    .breadcrumb{display: none;}
}

.top-nav{
  li{ font-size: 13px; }
  a{ font-family: 'TradeGothicLTStd-Cn18'; text-transform: uppercase;}
  .social-left a{
    background: #fff;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: flex;
    color: #000;
    align-items: center;
    justify-content: center;
    padding-left: 4px;
  }
}

.ppp-guidelines{
  .small-desc{font-size: 18px;}
  .btn-md-yellow{
    text-align: left;
    padding: 30px 0px;
    a{color: #000;}
  }
}


.social-content-fb{
  iframe{
    width: 100%;
    ._2p3a{
      width: 100% !important;
    }
  }
  
}

.social-content-instagram{
  .instagram{
    height: 455px; overflow-y: scroll;
  }
}

.page-banner{
  .banner-logo{
    img{max-width: 200px}
  }
  .banner-overlay{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    .small-desc .desc-block:parent{display: block;}
    .small-desc{max-width: 550px;color: #fff;margin: 0px 20px;}
    .small-desc p{ margin: 0; }
    div{ display: inline-block; }
    .btn-action{
      div{padding: 10px;}
    }
  }
  .btn-md-black a{background: transparent;color: #fff;border: 1px solid #fff;}
  .btn-md-black:hover a{background: #fff;color: #000;}
  .btn-md-yellow:hover a{
    background: transparent;color: #dbb516;border: 1px solid #dbb516;
  }

}

#block-block-39{
  ul{
    font-family: TradeGothicLTStd-Cn18;font-size: 20px;
    .fa{font-size: 0.6em;}
  }
}
.page-node-159{
  .breadcrumb{display: none;}
}

.programs-feeds{
  text-align: center;
  ul{
    li{display: inline-block;padding: 20px;}
  }
}


.social-content-tweeter{
  iframe{
    height: 520px !important;
  }
}

#block-block-3{font-size: 0;}

.page-banner-mobile{
  .owl-controls{display: none;}
  .banner-overlay{
    text-align: center;
    padding: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5490196078431373);
    .btn-action{
          div{padding: 10px;}
          max-width: 200px;
          margin: 0 auto;
    }
  }
}

.page-node-210{
  #block-views-media-block-7{
    .description > div{padding: 20px 0px;}
    .description > div:nth-child(1){padding-top: 0;}
    .gray{color: #666;}
  }
}

.custom-col-md-7 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 993px) {
  .custom-col-md-7 {
    float: left;
    width: 14.28571428%;
  }
}

#block-views-programs-block-3{
  ul{
    list-style-type: none;
    padding: 0;
  }
}

.page-node-236{
  .full-description:nth-child(2){
        @media screen and (min-width: 988px){
          // padding-top: 180px;
        }
        // background: url(http://dev002.glimsol.com/fdcp-revamp/sites/all/themes/fdcp/images/banderitas.png) no-repeat !important;
        // background-size: 100% !important;
        background: #fff !important;
  }
  ul{
    // padding: 0 0 0 32px;
    list-style-type: disc;
  }
}

@media (max-width: 992px) {
  .view-id-media .float-head .med-title {float: none; margin-top: 20px}
  .view-id-media .float-head .float-right {float: none; margin: -10px 0 20px;}

  .node-type-programs .section.overview .med-title {margin-top: 20px}
  .programs-feeds ul li {padding: 20px 0}
  .programs-feeds .social-content-wrap ul {padding-left: 0}
}

@media (max-width: 500px) {
  .btn-md-yellow a, .btn-md-black a {padding: 10px 20px;}
  .view-display-id-block_2 .item-list > .row > .col-xs-6 {width: 100%}
}

@media (max-width: 400px) {
  .section-fdcp-member-benefits .fright {text-align: center; float: none; width: 100%; margin-bottom: 20px;}
  .section-fdcp-member-benefits .col-xs-7 {width: 100%}
}

.testing{clear: both;}