@import('fdcp.css');

.font-small{font-size: 14px;}
.font-medium{font-size: 20px;}
.font-big{font-size: 30px;}
.font-bold{font-weight: bold;font-family: candara;}
.font-normal{font-weight: normal;font-family: candara;}
.grayscale-on{ filter: grayscale(100%);transition: all 0.5s ease; }
.grayscale-off{ filter: none;transition: all 0.5s ease; }
.dark-on{filter: brightness(50%);transition: all 0.5s ease; }
.dark-off{filter: brightness(100%);transition: all 0.5s ease;}
.description{font-family: candara; font-size: 20px; line-height: 25px;}
.small-desc{    font-family: candara; line-height: 22px;}
.med-title{font-family: aileronbold;text-transform: uppercase;font-size: 30px;}
.reg-title{font-family: aileronbold;font-size: 20px;}
.space{padding: 10px 0px;}
.tiny-text{font-family: candara; color: #3d3e3f;}
.all-movie-item{
  padding: 15px;
  .reg-title{
    h2 {
      margin: 0;
    }
  }
  .small-desc p{
    margin: 0;
  }
}


.page-cinelokal{
  .now-showing{
    background: #eeeeee;
    padding: 50px 0px;
  }
}

.page-cinematheque{
    background: #eeeeee;
    padding: 50px 0px;
}

.movie-filter{
    position: relative;
    .views-exposed-widget{
      float: none;
      text-align: center;
  }
  .views-exposed-widgets{
    text-align: center;
  }
  #edit-title-wrapper{
    margin-left: -70px;
    div,label{display: inline-block;}
    label{.font-medium;.font-normal;}
    div{
      input{
        text-align: center;
        .font-normal;
        width: 350px;
        padding: 5px;
      }
    }
  }
  .views-submit-button{
    position: absolute; top: -1px; right: 210px;
    input{
      font-size: 18px; cursor: pointer; background: #fff100; color: #000; text-align: center; padding: 4px 36px; text-transform: uppercase; border: 1px solid #ffe100; font-family: pantonlight_caps; font-weight: bold;
    }
  }
}

#block-views-exp-movies-block-3{
  .views-submit-button{
      position: absolute; top: 64px; right: 210px;
  }  
}
  

#edit-field-genra-value-wrapper,#edit-field-movie-rating-value-wrapper,#edit-field-date-released-value-wrapper{
        display: inline-block;
        margin: 0px 10px 0px 95px;
        div,label{display: inline-block;.font-normal;}
        label{.font-medium;}
        select{padding: 5px;}
      }
.cinelokal-filter.movie-filter{
  padding-bottom: 50px; border-bottom: 1px solid #eeeeee;
}
.branch-grid{
  text-align: center;
  .title{
    max-width: 160px;
    .font-bold;
    font-size: 16px;
    a{
      color: #000;
    }  
  }
  .branch-item{
    display: inline-block;
    margin: 25px;
  }
  img{
    border-radius: 50%;
  }
}

.section.cinematheque-branches{
  text-align: center;
}

#edit-field-cinematheque-branch-target-id-wrapper{
  .form-item.form-type-radio{
    display: inline-block;
    margin: 15px;
    label{
      .font-normal;
      .font-medium;
      color: #aaa;
      padding: 10px;
    }
    input[type="radio"]:checked+label{
      background: #fff100;
      color: #000;
    }
  }
}

.movies-inner-page{
  .details-right{
    table{
      td.title{
        width: 30%;
      }
      .first{padding-top: 10px;}
    }
    .showing-table{
      td{padding-bottom: 10px;}
    }
  }

  .main-movie{
    border-right: 1px solid #eee; padding-right: 15px;
    table{
      td.title{
        width: 15%;
      }
    }
    .section-video-clips{
      .video-item{
        .grayscale-on;
        a{
          position: absolute; left: 50%; margin-left: -45px; top: 50%; margin-top: -30px;
        }
      }
      .video-item:hover{
        .grayscale-off;
      }
    }
    .section1{
      .content-right{
        .img-wrap{
          max-width: 430px; 
          a{position: absolute; left: 50%; margin-left: -60px; top: 50%; margin-top: -60px;}
          .dark-on;
        }
        .img-wrap:hover{.dark-off;}
      }
    }  
  }
}

#instafeed{
  border-left: 1px solid #eee;
}

.spotlight-img img{
  .dark-off;
}
.spotlight-img:hover img{
  .dark-on;
}

.cinematheque-inner-page{
  .overview-list{
    i{font-size: 14px;margin-top: 6px;}
    li{margin-bottom: 15px;}
  }
  .section-schedules{
    .grid-item{
      margin-bottom: 40px;
      .showtimes{
        margin-top: 10px;
      }
      img{.dark-off;}
      img:hover{.dark-on;}
    }
  }
  .section-schedules{
    background: #eee;
  }
  .branch-map{
    margin:20px 0px;
    iframe{width: 100%;}

  }
  .location-info{
    .description{
      img{position: absolute;}
      .address{margin-left: 45px;margin-top: 5px;}
    }
  }
  .section-contact{
    margin-bottom: 50px;
    .description{
      text-align: center;
    }
    li{display: inline-block;margin: 0px 40px;color: #000;
      a{ color: #000 }
      i{display: inline-block;margin-right: 10px; color: #fff; background: #000; border-radius: 100%; width: 35px; height: 35px; padding-top: 9px;}
      .field{display: inline-block;}
    }
  }
}